.compositionCard {
  padding: 0px;
  min-height: 122px;
  min-width: 199px;

  background-color: var(--bit-bg-color, #ffffff);
  box-shadow: var(--bit-shadow-raised-low);

  flex: none;
  display: flex;
  flex-direction: column;
  &:hover {
    .linkToComposition {
      opacity: 1;
      visibility: visible;
    }
  }
}

.compositionContainer {
  // do not set as `flex`, it will effect the composition

  // center:
  margin: auto; // assumes container is flex
  padding: 16px;
  box-sizing: border-box;

  // prevent leakage:
  overflow: auto;
  position: relative; // for position: absolute elements
  transform: translateZ(0); // prevents elements with `position: fixed` (etc) from leaking out of the composition card
  max-width: 100%;
}

.title {
  border-top: 1px solid var(--bit-border-color-lightest, #ededed);
  padding: 8px 16px;
  font-size: 0.875em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: none;
  > span {
    margin-right: 8px;
  }
}
.linkToComposition {
  color: var(--bit-text-color-heavy, #2b2b2b);
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms, visibility 300ms ease-in-out;
}

.compositionCardError {
  border-radius: 4px 4px 0px 0px;
}
