.compositionCard {
  padding: 0px;
  min-height: 122px;
  min-width: 199px;

  background-color: var(--bg-base);

  box-shadow: var(--shadow-raised-low);

  display: flex;
  flex-direction: column;
  &:hover {
    .linkToComposition {
      opacity: 1;
      visibility: visible;
    }
  }
}

.compositionContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  padding: 16px;
  box-sizing: border-box;

  overflow: hidden;
}

.title {
  border-top: 1px solid var(--border-color);
  padding: 8px 16px;
  font-size: 0.875em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: none;
  > span {
    margin-right: 8px;
  }
}
.linkToComposition {
  color: var(--text-highlight, #2b2b2b);
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms, visibility 300ms ease-in-out;
}
