.title {
  margin-right: 16px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  > div:first-child {
    margin-right: 16px;
  }
}
.orgName {
  font-weight: normal;
  color: var(--text-highlight);
  font-weight: bold;
}
