$borderRadius: 0.5em;
$gap: 0.125em;

.componentStrip {
  display: flex;
  width: fit-content; // for correct shadow size

  border-radius: $borderRadius;
  box-shadow: var(--bit-highlighter-shadow);

  > * {
    padding: 0 0.5em;
    line-height: 1.5; //use line height to get rounder values than 0.25em padding

    transition: filter 300ms, background-color 300ms;
    transform: translateZ(0); //fix blurriness in Safari

    background: var(--bit-highlighter-color, #eebcc9);

    &:link,
    &:visited {
      text-decoration: inherit; // reset browser defaults
      color: inherit; // reset browser defaults

      &:hover {
        background: var(--bit-highlighter-color-hover, #f6dae2);
      }

      &:active {
        background: var(--bit-highlighter-color-active, #e79db1);
        color: inherit;
      }
    }

    &:first-child {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }

    margin-right: $gap;

    &:last-child {
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      margin-right: unset;
    }
  }
}
