.othersContainer {
  > * {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

.othersTooltip {
  user-select: none;
  cursor: pointer;

  &::before {
    display: inline-block;
    transition: transform 300ms;
    content: '▾';
  }

  &.active::before {
    transform: rotate(-180deg);
  }
}
