.othersContainer {
  > * {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

.othersTooltip {
  user-select: none;
  cursor: pointer;

  &::before {
    display: inline-block;
    transition: transform 300ms;
    content: '▾';
  }

  &.active::before {
    transform: rotate(-180deg);
  }
}

.hidden {
  // label size is needed for position calculations,
  // so it can't be removed by `display: none`
  visibility: hidden;
  pointer-events: none;
  user-select: none;
}
