$success: #37b26c;
$regularNodeColor: #3a95ff;
$br20: #f3faff;
$d40: #6c707c;

$borderLabelHeight: 20px;

.root {
  border-color: $success;
  border-top-width: 20px;

  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #d0f1de, var(--shadow-hover-medium);

  &:before {
    content: 'Current component';
    position: absolute;
    top: 1px;
    left: 10px;

    font-size: $borderLabelHeight / 2;
    color: white;
    line-height: $borderLabelHeight;
  }
}

.defaultNode {
  border-color: $regularNodeColor;

  box-shadow: 0px 0px 0px 2px $br20;
}

.external {
  border-color: $d40;

  box-shadow: 0px 0px 0px 2px var(border--color);
}

:export {
  rootNodeColor: $success;
  defaultNodeColor: $regularNodeColor;
  externalNodeColor: $d40;
}
