.emptyCompositions {
  margin: auto;
  padding: 20px;
  font-size: var(--p-sm);
}

.innerBorder {
  border: 1px solid var(--border-color);
  padding: 24px;

  > div {
    font-weight: bold;
    margin-bottom: 14px;
  }

  > a {
    color: #897dec;
    text-decoration: none;

    > span {
      font-size: var(--p-xxs);
      padding-left: 5px;
    }
  }
}
