@import '~@teambit/base-ui.theme.colors/colors.module.scss';

.component {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  font-size: inherit;
  font-size: var(--bit-p-xs);

  //TODO - move to a link component
  text-decoration: none;
  color: inherit;

  box-sizing: border-box;
  border-left: 0px solid transparent;

  &:hover {
    background: var(--bit-bg-heavy, #f6f6f6);
    .envIcon {
      filter: grayscale(0);
    }
  }

  &.active {
    background: var(--bit-accent-bg, #eceaff);
    .envIcon {
      filter: grayscale(0);
    }
    // .right {
    // 	.componentIcon {
    // 		color: $w10;
    // 	}
    // }
  }

  .icon {
    width: 16px;
    height: 16px;
    opacity: 0.8;
  }

  .left {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
    line-height: 16px;

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 8px;
    }
  }
  .envIcon {
    transition: filter 300ms ease-in-out;
    filter: grayscale(1);
    width: 16px;
    height: 16px;
  }

  .right {
    display: flex;
    align-items: center;
    font-size: 12px;

    > * {
      margin-right: 4px;
    }
    > :last-child() {
      margin-right: 0px;
    }
  }
}

.componentEnvTooltip {
  font-size: var(--bit-p-xs);
  max-width: unset !important; // override tippy's default max-width: 350px
  .componentEnvTitle {
    font-size: var(--bit-p-xxs, 12px);
    color: #c9c3f6;
    font-weight: bold;
    margin-bottom: 4px;
  }
}

.onMainTooltip {
  max-width: unset !important; // override tippy's default max-width: 350px
  font-size: var(--bit-p-xxs);
}

.envLink {
  color: white;
  text-decoration: none;
}

.mainOnly {
  opacity: 40%;
}
