.summaryContainer {
  padding: 0px 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #f7f7f5a1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signatureTitle {
  color: var(--on-background-color);

  > pre {
    > code {
      // override syntax highlighter code font size
      font-size: var(--bit-p-xxs, 12px) !important;
    }
  }
}

.description {
  font-size: 14px;
  margin-bottom: 16px;
  font-style: italic;
}

.subtitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--bit-p-xxs);
  padding-right: 16px;
  margin-bottom: 12px;
}

.returnContainer {
  margin-bottom: 16px;
}

.functionName {
  font-size: var(--bit-p-md);
  font-weight: 500;
  padding: 16px 0px 8px 0px;
}

.hide {
  padding: 8px 0px !important;
}

.paramHeading {
  padding: 8px 0px 16px 0px;
}
.apiNodeDetailsExample {
  padding-bottom: 24px;
}
.apiNodeDetailsExampleTitle {
  padding: 16px 0px;
  font-weight: bold;
  font-size: var(--bit-p-xs, '14px');
}