.summaryContainer {
  padding: 0px 12px 2px 12px;
  margin-bottom: 8px;
  border-radius: var(--bit-p-sm);
  background-color: var(--primary-surface-color);
}

.signatureTitle {
  color: var(--on-background-color);
  margin-bottom: 16px;

  > pre {
    > code {
      // override syntax highlighter code font size
      font-size: var(--bit-p-xxs, 12px) !important;
    }
  }
}

.description {
  font-size: 14px;
  margin: 20px 0px;
}

.subtitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--bit-p-xxs);
  padding-right: 16px;
  margin-bottom: 12px;
}

.paramsContainer,
.returnContainer {
  margin-bottom: 16px;
}

.functionName {
  font-size: var(--bit-p-md);
  font-weight: 500;
  padding: 8px 0px;
}
