.name {
  word-break: normal;
}

.node {
  font-size: var(--bit-p-xs);
  word-break: normal;
  position: relative;
  line-height: 1.2em;
  background-color: var(--surface01-color, #fffbff);
  padding: 4px;
  border-radius: 4px;
  word-break: keep-all;
  flex-wrap: wrap;
}

.row {
  padding: 8px 0px !important;
  margin-bottom: 0;
}
