.mainContainer {
  display: flex;
  height: 100%;
}

.subContainerLeft {
  flex: 1;
  background-color: var(--border-medium-color);
  padding-right: 4px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.subContainerRight {
  flex: 1;
  background-color: var(--border-medium-color);
  padding: 1px 1px 1px 1px;
}

.loader {
  display: flex;
  align-items: center;
  height: 100%;
}
