.mainContainer {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.subContainerLeft {
  flex: 1;
  background-color: #ededed;
  padding-right: 4px;
}

.subContainerRight {
  flex: 1;
  background-color: #ededed;
  padding-left: 4px;
}

.loader {
  display: flex;
  align-items: center;
  height: 100%;
}
