/**
  * Monaco container is not flex so providing it a fixed calculated height
  * so it can fill up the remaining space correctly instead of overflowing
  *  diff editor headers: h4 (24px) + padding (16px * 2) = 56px
  */
$editor-padding: 56px;

.diffEditor {
  // TODO - remove unneeded css vars overrides
  // TODO - find a better place to put the color overrides. maybe move to a theme?
  --bit-text-color-heavy: #f6f6f6;
  --bit-text-color-light: #f6f6f6;
  --bit-border-color-lightest: #434343;
  --on-background-color: #f6f6f6;
  --surface-neutral-color: #161616;
  --bit-accent-heavy: #f6f6f6;
  --bit-accent-color: #9183ff;
  --bit-accent-bg: #2d2842;
  --bit-bg-heavy: #140f27;
  --editor-bg-color: #1e1e1e;
  background-color: var(--editor-bg-color, #1e1e1e);
}

.componentCompareAspectViewContainer {
  width: 100%;
  height: 100%;
}
.componentCompareAspectDiffEditorContainer {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  height: calc(100% - $editor-padding);
}

.name {
  display: flex;
  align-items: baseline;
  padding: 8px;
}

.componentCompareAspectConfigDiff,
.componentCompareAspectCalculatedDiff {
  display: flex;
  flex: 1;
  padding: 8px;
  height: 100%;
  flex-direction: column;
}

.loader {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
