/**
  * Monaco container is not flex so providing it a fixed calculated height
  * so it can fill up the remaining space correctly instead of overflowing
  *  diff editor headers: h4 (24px) + padding (16px * 2) = 56px
  */
$editor-padding: 56px;

.componentCompareAspectViewContainer {
  width: 100%;
  height: 100%;
}
.componentCompareAspectDiffEditorContainer {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  height: calc(100% - $editor-padding);
}

.name {
  display: flex;
  align-items: baseline;
  padding: 8px;
}

.componentCompareAspectConfigDiff,
.componentCompareAspectCalculatedDiff {
  display: flex;
  flex: 1;
  padding: 8px;
  height: 100%;
  flex-direction: column;
}

.loader {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
