.collapsibleSplitter {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
  &.hover {
    background-color: #ededed;
  }
}
.handle {
  font-weight: bold;
  font-size: 24px;
}
:global(.row) {
  & > .collapsibleSplitter {
    width: 5px;
    background-color: transparent;
    &.hover {
      background-color: #ededed !important;
    }
    .actionBox {
      position: fixed;
      top: 22px;
      left: 220px;
    }
  }
}
:global(.column) {
  & > .collapsibleSplitter {
    height: 17px;
    .actionBox {
      position: absolute;
      right: 11px;
    }
  }
}
