$topbarHeight: 64px;

.corner {
	display: flex;
	align-items: center;
	height: $topbarHeight;
	background: #ededed;
	padding: 16px;
	
	box-sizing: border-box;
	// TODO - add color to pallete
	border-right: 1px solid #e4e6ea;

	
	.avatar {
		margin-right: 8px;
		width: 32px;
		height: 32px;
		background: white;

		border-radius: 50%;
		
		line-height: 32px;
		text-align: center;
	}
	
	> b {
		font-weight: bold;
	}
}
