.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.title {
  padding-bottom: 16px;
  font-size: var(--bit-p-md);
  font-weight: 500;
}

.containerList {
  padding-left: 4px;
}

.subTitle {
  padding-bottom: 16px;
  font-size: var(--bit-p-sm);
  font-weight: 400;
}

.value {
  font-size: var(--bit-p-xs);
  background: var(--bit-bg-dent);
  padding: 16px;
  border-radius: 6px;
}

.typeParams {
  padding-top: 16px;
}

.bold {
  font-weight: 500;
}

.table {
  > div {
    grid-gap: 16px 24px;
  }
}

.returnType {
  font-size: var(--bit-p-xxs);
  // color: #397300;
  display: flex;
  color: #4646c6;
}

.docComment {
  font-size: var(--bit-p-xs);
  padding-bottom: 16px;
}

.paramHeading {
  padding: 8px 0px 16px 0px;
}
