.searchIcon {
  font-size: 14px;
  color: #707279;
}

.clearIcon {
  z-index: 2;
  top: 11px;
  right: 12px;
  position: absolute;
  cursor: pointer;
  color: var(--on-background-color, #2b2b2b);
  font-size: 16px;
}
