.apiNodeDetailsContainer {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.apiNodeDetailsNameContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
  align-items: center;
}
.apiNodeDetailsName {
  padding-right: 8px;
}
.apiTypeIcon {
  img {
    height: 16px;
  }
  padding-right: 8px;
}
.apiTypeIconName {
  font-size: var(--bit-p-xs);
}
.codeEditorContainer {
  > section {
    overflow: hidden;
    border-radius: 8px;
  }
}
.apiNodeDetailsComment {
  font-size: var(--bit-p-xs);
  padding-bottom: 24px;
}
.apiNodeDetailsSignatureContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.apiNodeDetailsExample {
  padding-bottom: 24px;
}
.apiNodeDetailsExampleTitle {
  padding: 16px 0px;
}
.apiNodeDetailsLocation {
  padding-bottom: 24px;
}
.apiNodeDetailsLocationLink {
  max-width: fit-content;
  font-size: var(--bit-p-xs);
}
.apiNodeDetailsMembersContainer {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
}
.groupName {
  padding-bottom: 16px;
  font-size: var(--bit-p-md);
  font-weight: 500;
  text-transform: capitalize;
}

.codeTooltip {
}
