.commandBarOption {
  padding: 8px;
  transition: all 180ms;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-topping-highlight);
  }

  &.active,
  &.active:hover {
    background-color: var(--muted-color);
  }
}
