.versionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 16px;
}
.versionTimestamp {
  min-width: 30%;
  margin-right: 2px;
  text-align: right;
}
.versionUserAvatar {
  padding: 0px 8px;
}
.laneIcon {
  padding: 0px 4px;
}
.version {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}
.versionName {
  padding: 0px 8px;
  &.tag {
    min-width: fit-content;
  }
  &.snap {
    min-width: 20%;
  }
}

.commitMessage,
.emptyMessage {
  min-width: 50%;
  padding: 0px 8px;
}
.emptyMessage {
  font-style: italic;
  color: var(--bit-text-color-light, #6c707c);
}
