.versionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 24px;

  .versionTimestamp {
    margin-right: 2px;
  }
  .versionUserAvatar {
    padding: 0px 8px;
    height: 24px;
    width: 24px;
  }
  .laneIcon {
    padding: 0px 4px;
  }
  .version {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }
  .versionName {
    padding: 0px 8px;
  }
}

.interactive {
  cursor: pointer;

  &:hover {
    background: var(--bit-bg-heavy, #f6f6f6);
  }

  &:active {
    background: var(--bit-bg-heaviest, #ededed);
  }

  &.currentVersion {
    background: var(--bit-accent-bg, #eceaff);
  }

  .label {
    background-color: white;
    padding: 0px 8px;
  }
}
