.versionRow {
  display: flex;
  justify-content: space-between;

  .versionTimestamp {
    margin-right: 2px;
  }
  .versionUserAvatar {
    padding: 0px 8px;
  }
  .version {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
  .versionName {
    padding: 0px 8px;
    align-self: center;
    line-height: 14px;
  }
}
.versionLine {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 24px;
  text-decoration: none;
  color: var(--bit-text-color-heavy);
  &:hover {
    background-color: var(--bit-bg-heavy, #f6f6f6);
  }
  &:last-child {
    margin-bottom: 8px;
  }
  &.currentVersion {
    background: var(--bit-accent-bg, #eceaff);
  }
  .label {
    background-color: white;
    padding: 0px 8px;
  }
}
