.versionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  line-height: 24px;
}

.versionTimestamp {
  min-width: fit-content;
  margin-right: 2px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.versionUserAvatar {
  flex: none;
  padding: 0px 8px;
}

.laneIcon {
  padding: 0px 4px;
}

.version {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.versionName {
  padding: 0px 8px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: fit-content;
}

.commitMessage {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 8px;
}

.emptyMessage {
  font-style: italic;
  color: var(--bit-text-color-light, #6c707c);
  min-width: 50%;
  padding: 0px 8px;
  font-size: (var-bit-p-xs, 14px);
}
