.laneSwitcherContainer {
  display: flex;
  // override menu section's padding left which is set to 30px
  padding-left: 16px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  border-top: 1px solid var(--bit-border-color-lightest, #ededed);
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  gap: 4px;
}

.laneGalleryIcon {
  display: flex;
  border-radius: 8px;

  > img {
    height: 16px;
    width: 16px;
  }

  > span:first-child {
    margin-right: 0px;
  }
}

.laneSelectorContainer {
  display: flex;
  flex: 1;
  width: calc(100% - 36px);
}

.laneIconContainer {
  display: flex;
  flex: 0;
  width: 36px;

  @media screen and (max-width: 200px) {
    &.laneIconContainer {
      display: none;
    }
  }
}
