.name {
  flex: 1 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//   .commandKeys {
// 	float: right;
// 	font-size: 15px;
//   }

// TODO - em
.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
