@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.componentCompareCodeViewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--on-surface-neutral-low-color, #282828) !important;
  transition: height 0.4s ease-in-out;
}

.componentCompareCodeDiffEditorContainer {
  display: flex;
  flex: 1;
  transition: height 0.4s ease-in-out;
  position: relative;

  > section {
    overflow: hidden;
  }
}

.loader {
  width: 100%;
  color: var(--on-surface-neutral-low-color, #282828);
  background-image: linear-gradient(to right, currentColor 0%, #2b2b2b 30%, #2b2b2b 50%, currentColor 100%);
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  position: absolute;
  height: 220px;
  z-index: $modal-z-index;

  &.fullHeight {
    height: 100%;
  }

  > div {
    background-image: linear-gradient(to right, currentColor 0%, #2b2b2b 30%, #2b2b2b 50%, currentColor 100%);
    visibility: visible;
    opacity: 1;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }
}

.hideLoader,
.hideLoader > div {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
