{
  "only": "*.js",
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ],
  "plugins": [
    ["transform-flow-strip-types"],
    ["transform-object-rest-spread"],
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array", "Map"]
    }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    ["transform-class-properties"],
    ["transform-inline-imports-commonjs"]
  ]
}
