{
  "only": ["**/*.js"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 4
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-flow-strip-types"
    ],
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array",
          "Map"
        ]
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ],
    [
      "syntax-async-functions"
    ]
  ]
}
