{
  "only": "*.js",
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ],
  "plugins": [
    ["transform-flow-strip-types"],
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array", "Map"]
    }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    ["syntax-async-functions"]
  ]
}
