{
  "extends": ["plugin:flowtype/recommended", "airbnb-base"],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "jest"
  ],
   "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-underscore-dangle": [0]
  },
  "env": {
    "jest/globals": true
  }
}
