{
  "extends": ["plugin:flowtype/recommended", "airbnb-base"],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "jest"
  ],
   "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error"
  },
  "env": {
    "jest/globals": true
  }
}
