{
  "extends": ["airbnb", "airbnb-flow"],
  "rules": {
    "arrow-body-style": [0, "as-needed"],
    "camelcase": [0],
    "no-trailing-spaces": [0],
    "import/no-unresolved": [0],
    "radix": [0],
    "no-underscore-dangle": [0],
    "no-param-reassign": [0],
    "array-bracket-spacing": [0],
    "class-methods-use-this": [0],
    "import/no-dynamic-require": [0],
    "global-require": [0],
    "prefer-arrow-callback": [0],
    "import/no-extraneous-dependencies": [0],
    "comma-dangle": [0, "never"],
    "no-use-before-define": [0],
    "func-names": [0],
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "__impl__": true,
    "describe": true,
    "it": true
  }
}
