node_modules
e2e/fixtures
components/legacy/e2e-helper/fixtures
components/legacy/e2e-helper/excluded-fixtures
scopes/semantics/schema/mock

# A temp file should be required from outside (via npm) so no point to fix it
src/graph/graph.ts

# files that are not in use, so no point fixing them
src/hooks/hooks-manager.ts

scripts
