# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
!fixtures/filing-cabinet/node_modules

# Optional npm cache directory
.npm

# vscode
.vscode/

# vscode history
.history

# idea
.idea/

# dist
dist

# bit
.bit
inline_components
components

# Flow
flow-typed