public-hoist-pattern[]=@teambit/code.ui.code-compare
public-hoist-pattern[]=@eslint/plugin-*
public-hoist-pattern[]=*eslint-plugin*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
