version: 1.0.{build}
image: Visual Studio 2015

branches:
  only:
    - master
    - windowsNode

environment:
  token:
    secure: 0a4USjGKxWeE8xz4tO5MnQ==
  releaseUser:
    secure: 0a4USjGKxWeE8xz4tO5MnQ==
  releasePassword:
    secure: tR01IIjMw35fBOFhTQd9jw==
  repoUser:
    secure: B5rIxIs4O8RRe0ml9e87+A==
  repoPassword:
    secure: tR01IIjMw35fBOFhTQd9jw==
  ruby_version:
    secure: k41GeNhYWLfPG/Fir8TGhA==
  ENVIRONMENT:
    secure: 0MX/69qK7Z1yjELPC8wOCw==
  ReleaseServerDevelopment:
    secure: UHrmNjH6IaU79OhRU9ina1f5jPX1EXBlsm9w+QfqWA/jNLPx4t+XMottVjJHZVtr
  ReleaseServerStable:
    secure: y7mz8E9mkcwCaCVvFs9WX+5k8jg+t8HwFpZhMYlYEfZhdnFH1U7gWCJTi+zVLiT9
  matrix:
  - ruby_version: Ruby23-x64
install:
- ps: $key = $env:gitkey #just the key contents, copied from notepad, into the environment variable on the UI
- ps: $fileContent = "-----BEGIN RSA PRIVATE KEY-----" + "`n"
- ps: for ($i = 0; $i -lt $key.Length / 64; $i++) { $min = [math]::min(64, $key.Length - ($i * 64)); $fileContent += $key.substring($i*64, $min) + "`n"; }
- ps: $fileContent += "-----END RSA PRIVATE KEY-----" + "`n"
- ps: Set-Content c:\users\appveyor\.ssh\id_rsa $fileContent
- ps: >-
    Install-Product node $env:6

    $ENV:PATH="C:\Ruby200-x64\bin;C:\Python27-x64;$ENV:PATH"

build_script:
- ps: >-
    mv .\package.json .\package.json.bak

    Get-Content .\package.json.bak | Where-Object {$_ -notmatch 'posix'} | Where-Object {$_ -notmatch 'gitbook-cli'} | Set-Content package.json

    .\scripts\build-dist.ps1

    .\scripts\build-windows-installer.bat

artifacts:
- path: distribution/windows/artifacts/*.msi
  name: Installer
- path: artifacts\bit.${VERSION}.nupkg
  name: nupkg
deploy_script:
- ps: >-
    $VERSION= $(node -p -e "require('./package.json').version")

    .\scripts\deploy-windows.ps1 -Repo bit-msi -File bit-${VERSION}-unsigned.msi -Source artifacts\bit-${VERSION}-unsigned.msi -ENVIRONMENT development -ReleaseServer $env:ReleaseServerDevelopment -Method msi

    .\scripts\build-chocolatey.ps1

    .\scripts\deploy-windows.ps1 -Repo bit-nuget -File bit.${VERSION}.nupkg -Source artifacts\bit.${VERSION}.nupkg -ENVIRONMENT development -ReleaseServer $env:ReleaseServerDevelopment -Method nupkg
