@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';
$panelBg: #fafafa;

.apiRefPageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.selectedAPIDetailsContainer {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  width: calc(100% - 80px);
}
.splitter {
  position: relative;

  > :first-child {
    z-index: $pane-splitter-zIndex;
    position: absolute;
  }
}
.collapser {
  right: 1px;
}
.right {
  position: relative;
  background: $panelBg;
  overflow-y: auto;
  // this is to fix the right panel when it gets too big or too small
  min-width: 200px;
  max-width: calc(100% - 200px);
}
.left {
  min-width: 200px;
  //cannot assign max-width directly to right side
  max-width: calc(100% - 200px);
  display: flex;
}

.loader {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.apiNodeDetailsNameContainer {
  display: flex;
  flex-direction: row;
}

.apiTypeIcon {
  img {
    height: var(--bit-h-md, 26px);
  }
  padding-right: 8px;
}

.name {
  margin: 0;
}

.selectedAPILocationContainer {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--bit-border-color-lightest, #ededed);
  border-radius: 6px;
  &:hover {
    background-color: var(--bit-bg-heavy, #f4f5f6);
  }
}

.locationLabel {
  display: flex;
  color: var(--bit-text-color-light, '#707279');
  padding: 6px 8px;
}
.locationIcon {
  display: flex;
  img {
    height: 14px;
  }
}

.locationLink {
  display: flex;
  align-items: center;
  align-self: baseline;
  min-width: fit-content;
  padding-right: 8px;
  margin-left: 12px;
  font-size: var(--bit-p-xs, '14px');
  color: var(--bit-text-color-light, '#707279');
  text-decoration: none;
  border: 1px solid var(--bit-border-color-lightest, #ededed);
  border-radius: 6px;
  &:hover {
    background-color: var(--bit-bg-heavy, #f4f5f6);
  }
}
