.apiRefPageContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectedAPIDetailsContainer {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
  overflow-y: auto;
}
