.topBarLink {
	height: 100%;
	position: relative;
	padding: 0 8px;
	
	box-sizing: border-box;
	
	display: flex;
	align-items: center;

	color: inherit;
	text-decoration: none;
	
	transition: color 300ms;
	margin: 0 5px;
	
	&:after {
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background-color: transparent;
		height:0;
		border-radius: 10px;
		transition: background-color 300ms, height 300ms;
	}
	
	&.active {
		color: var(--base-color);

		&:after {
			background-color: var(--base-color);
			height:4px;
		}
	}
}