.topBarLink {
	height: 100%;
	padding: 0 8px;
	
	box-sizing: border-box;
	
	display: flex;
	align-items: center;
	
	border-width: 4px 4px 0px 4px;
	border-style: solid;
	border-color: transparent;

	color: inherit;
	text-decoration: none;
	
	transition: all 300ms;
	
	&.active {
		border-bottom: 4px solid var(--base-color);
		color: var(--base-color);
	}
}