.componentTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  > h1 {
    margin: 0;
  }
}
.subTitle {
  white-space: break-spaces;
}
.titleBadge {
  margin-right: 8px;
}
