@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.componentTitle {
  > h1 {
    margin: 0;
  }
}

.badgeContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px; // this is to align the badges to the title text as opposed to the title line
  > * {
    margin: 0 8px;
  }
}
.subTitle {
  white-space: break-spaces;
}

.titleRow {
  margin-bottom: 20px;
}

.contentTabs {
  margin-bottom: 16px;
  width: 70%;
  @media screen and (max-width: $br-l) {
    width: 100%;
  }
  .nav {
    margin-left: 16px;
  }
  .tab {
    border-bottom: 0;
  }
}
.copyBox {
  background: var(--background-color, #ffffff);
}
