.componentTitle {
  margin-bottom: 20px;
  > h1 {
    margin: 0;
  }
}

.badgeContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px; // this is to align the badges to the title text as opposed to the title line
  > * {
    margin: 0 8px;
  }
}
.subTitle {
  white-space: break-spaces;
}
