.emptyScope {
  padding: 8px 8px 0 28px;
  display: block;
}

.widgetIcon {
  padding: 4px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  &:hover,
  &.open {
    background-color: var(--bit-border-color-lightest, #ededed);
  }
  img {
    width: 16px;
  }
  &:active img,
  &.open img {
    filter: invert(38%) sepia(33%) saturate(7140%) hue-rotate(234deg) brightness(96%) contrast(87%);
  }
}

.filterWidgetIcon {
  margin-right: 8px;
}

.deprecateFilter {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  padding: 8px;
  margin: 4px 8px;

  > div {
    line-height: 16px;
    display: flex;
  }

  .filterIcon {
    img {
      width: 16px;
    }

    .filterIconLabel {
      margin: 0px 8px;
      font-size: 14px;
    }
  }
}
