.highlighter {
  border: solid var(--bit-border-color-lightest, #ededed);
  border-width: 0px;
  box-sizing: border-box;
  height: 100%;

  transition: border 300ms;

  &.active {
    border-width: 8px;
    overflow: auto;
  }
}

.label {
  font-family: sans-serif;
  font-size: 12px;
}
