$topbarHeight: 64px;

.corner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $topbarHeight;
  background: #ededed;
  padding: 16px;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 264px;

  .link {
    text-decoration: none;
    color: var(--text-highlight);
    &:active {
      color: var(--text-highlight);
    }
  }

  .avatar {
    display: inline-block;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
  }

  > b {
    font-weight: bold;
  }
  .icon {
    cursor: pointer;
    color: var(--text-muted);
    transition: color 300ms ease-in-out;
    &:hover {
      color: var(--text-highlight);
    }
  }
}
