.iconTextInput {
  position: relative;
  font-size: inherit;
}

.withIcon {
  .input {
    padding-right: 2em;
  }
  > :last-child {
    font-size: inherit;
    color: inherit;
    position: absolute;
    right: 0.75em;
    top: 0.75em;
  }
}
