@import '~@teambit/base-ui-temp.theme.colors';
@import '~@teambit/base-ui-temp.layout.breakpoints';
@import '~@teambit/base-ui-temp.constants.storage/_storage.module.scss';

.versionBlock {
	padding-left: 50px;
	margin-bottom: 30px;
	.heading {
		margin-bottom: unset;
	}
}

.topRow {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.marginRight {
	margin-right: 10px;
}