@import '~@bit/bit.base-ui.theme.colors';
@import '~@bit/bit.base-ui.layout.breakpoints';
@import '~@bit/bit.base-ui.constants.storage/_storage.module.scss';

.versionBlock {
	padding-left: 50px;
	.heading {
		margin-bottom: unset;
	}
}

.heading {
	color: var(--base-color);
}

.topRow {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.marginRight {
	margin-right: 10px;
}