.testsPage {
  padding: 50px 40px 100px 40px;
  width: 100%;
  overflow-y: auto;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  .title {
    margin-bottom: 24px;
    font-size: var(--bit-h-xs, 26px);
  }
  .subtitle {
    margin-bottom: 24px;
    font-size: var(--bit-h-xxs, 18px);
  }
  .separator {
    margin-bottom: 41px;
  }
}

.testBlock {
  margin-bottom: 50px;
}

th {
  font-weight: bold;
}

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.percentage {
  font-weight: bolder;
}

.label {
  color: #666;
}

.badge {
  background-color: var(--surface-neutral-active-color, #eeeff2);
  color: #666;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 0.85em;
}

.coverage_column {
  width: 75px;
}

.filePath {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 4px;
}

.progressBar {
  width: 75px;
  border-radius: 50px;
  height: 6px;
  display: inline-block;
  margin-left: 10px;
  background-color: lightgray;
  overflow: hidden;
  position: relative;
}

.progressBarFill {
  height: 100%;
  border-radius: 50px;
  width: 0;
}