.componentCompareVersionPicker {
  display: flex;
  flex-direction: row;
  padding: 24px 0px;
}

.componentCompareVersionPlaceholder,
.componentCompareVersionMenu {
  max-width: 100%;
  width: 100%;
}

.componentCompareVersionPlaceholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.componentCompareVersionContainer {
  display: flex;
  flex: 1;
  max-width: 100%;
  margin-right: 32px;
}

.componentCompareDropdown {
  width: 100%;
}
