.node,
.nodeLink {
  display: flex;
  font-size: var(--bit-p-xs);
  word-break: normal;
  position: relative;
  line-height: 1.2em;
}

.node {
  color: rgb(79, 79, 79); /* a more subtle color */
}

.nodeLink {
  color: #4646c6;
  font-size: var(--bit-p-xs);
}

.package::before {
  content: '📦';
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 10px;
  text-decoration: none;
}

.internalType {
  &:hover {
    $caret-height: 4px;
    $caret-width: 6px;
    $distance: 10px;
    $tooltip-bg-color: var(--on-background-color, #2b2b2b);

    &::after {
      content: 'non exported internal reference';
      font-size: 12px;
      text-align: center;
      position: absolute;
      display: block;
      left: 4px;
      animation: fade-in 200ms ease;
      background: $tooltip-bg-color;
      border-radius: 4px;
      padding: 8px;
      min-width: 100px;
      max-width: 200px;
      height: fit-content;
      width: fit-content;
      color: #ffffff;
      z-index: 1;
      top: 20px;
    }

    &::before {
      content: '🔒';
      display: inline-block;
      height: 8px;
      width: 8px;
      margin-right: 6px;
      text-decoration: none;
    }
  }
  &::before {
    content: '🔒';
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-right: 6px;
    text-decoration: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
