.compositionsPage {
  flex: 1;
}

.compositionPreview {
  padding-top: 20px;
  width: 100%;
}

.left {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  overflow-y: auto;
}

.right {
  width: 100%;
  height: calc(100vh - 56px);
}
