.laneSwitcherContainer {
  display: flex;
  // override menu section's padding left which is set to 30px
  padding-left: 16px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  border-top: 1px solid var(--border-medium-color, #ededed);
  border-bottom: 1px solid var(--border-medium-color, #ededed);
  gap: 4px;
}

.laneGalleryIcon {
  display: flex;
  border-radius: 8px;

  > span {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
  }

  > span:first-child {
    margin-right: 0px;
  }
}

.laneSelectorContainer {
  display: flex;
  flex: 1;
  width: calc(100% - 36px);
}

.laneIconContainer {
  display: flex;
  flex: 0;
  width: 36px;
}

.loader {
  color: var(--bit-bg-dent, #f6f6f6);
  padding: 4px 0px;

  > span {
    padding: 8px;
  }
}
