.node,
.nodeLink {
  display: flex;
  font-size: var(--bit-p-xs);
  word-break: normal;
  position: relative;
  line-height: 1.2em;
}

.node {
  color: rgb(79, 79, 79); /* a more subtle color */
}

.nodeLink {
  color: #4646c6;
  font-size: var(--bit-p-xs);
  display: flex;
  gap: 4px;
}
// .package {
// }

// .internalType {
// }
.typeArgs {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0px 2px;
}

.typeArgNode {
  padding: 1px;
}

.locationIcon {
  display: flex;
  img {
    margin-right: 2px;
    height: 12px;
  }
}
