.input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: none;

  // command bar is open iff input is focused, so outline is not needed
  outline: none;

  &::placeholder {
    color: var(--text-placeholder-color, #babec9);
  }
}
