.card {
  padding: 24px;
}

.heading {
  display: flex;
  border-bottom: 1px solid var(--light-border-color, #cccfd4);
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.title {
  font-family: 'CircularPro';
}

.icon {
  font-size: 1.15em;
  margin-right: 16px;
  align-self: center;
}
