.card {
  padding: 24px;
  margin-bottom: 2px;
}

.heading {
  display: flex;
  margin-bottom: 24px;
}

.icon {
  font-size: 1.15em;
  margin-right: 16px;
  align-self: center;
}

.separator {
  margin-bottom: 24px;
}
