.artifactsPanel {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  font-size: 14px;
  border-right: 2px solid #ededed;
  background: #fafafa;
}

.artifactsPanelCodeTabDrawer {
  // drawer name
  > div:first-child {
    border: none;
    border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  }
  height: 100%;
}

.artifactsPanelCodeDrawerContent {
  overflow-y: auto;
}

.drawerIcon {
  margin-right: 8px;
  font-size: 14px;
}

.label {
  font-size: 10px;
  font-weight: unset;
  padding: 4px;
}

.icon {
  font-size: xx-small;
  padding: 4px;
  color: var(--bit-text-color-heavy);
  pointer-events: auto;
}

.artifactsPanelTree {
  pointer-events: none;
}
