.classComponentContainer {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.className {
  padding-bottom: 24px;
}
.classComment {
  font-size: var(--bit-p-xs);
  padding-bottom: 24px;
}
.classSignatureContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.classExample {
  padding-bottom: 24px;
}
.classExampleTitle {
  padding: 16px 0px;
}
.classLocation {
  padding-bottom: 24px;
}
.classLocationLink {
  max-width: fit-content;
}

.classMembersTitle {
  padding-bottom: 16px;
}
.classMembersContainer {
  padding-bottom: 24px;
}
.classMember {
  padding-bottom: 16px;
}
.classMemberName {
  padding-bottom: 8px;
  font-size: var(--bit-p-xs);
}
.classMemberSignature {
  height: fit-content;
  min-height: 40px;
}
