.classComponentContainer {
  padding: 24px 0px;
}
.className {
  padding-bottom: 24px;
}
.classComment {
  font-size: var(--bit-p-xs);
  padding-bottom: 24px;
}
.classSignatureContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.classExample {
  height: 250px;
}
