.testBlock {
  // border-bottom: 1px solid var(--border-color, var(--border-color, #f6f6f6));
  &.open {
    border-bottom: none;
    > .row > span {
      visibility: unset;
      transform: rotate(0.5turn);
    }
  }
}

.row {
  padding: 11px 0;
}

// .row {
//   display: grid;
//   grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) 20px;
//   grid-gap: 30px;
//   padding: 0 13px;
//   &:hover {
//     background-color: #f6f6f6;
//     > span {
//       visibility: unset;
//     }
//   }
//   &.hover {
//     cursor: pointer;
//   }
//   > * {
//     padding: 15px 0;
//   }
//   > span {
//     visibility: hidden;
//     margin: auto;
//   }
// }

.snippet {
  // &:last-child {
  margin-bottom: 12px;
  // }
}
