.checkboxContainer {
  margin-top: 16px;
}

.mainContainer {
  margin-top: 16px;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.subContainerLeft {
  flex: 1;
  background-color: #ededed;
  padding: 16px;
}

.subContainerRight {
  flex: 1;
  background-color: #ededed;
  padding: 16px 16px 16px 0px;
}

.subView {
  height: 100%;
  background-color: white;
  overflow: auto;
}

.loader {
  display: flex;
  align-items: center;
  height: 100%;
}

.toggleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .toggle {
    margin-right: 8px;
  }
}
