.topBarLink {
  position: relative;
  padding: 0 4px;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  color: inherit;
  text-decoration: none;

  transition: color 300ms;

  &:hover:not(.active) {
    > div {
      background-color: var(--bit-bg-heavy);
    }
  }

  &.active {
    color: var(--bit-accent-color, #6c5ce7);

    &:after {
      background-color: var(--bit-accent-color, #6c5ce7);
      height: 4px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    height: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    transition: background-color 300ms, height 300ms;
  }

  > div {
    border-radius: 8px;
    padding: 0 8px;
    height: 30px;
    display: flex;
    align-items: center;
    transition: background-color 300ms ease-in-out;
  }
}
