.search {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid var(--bit-border-color-lightest, #ededed);
  border-radius: 6px;
  outline: none;
  width: calc(100% - 32px);
  background: var(--bit-bg-color, #ffffff);
}
