@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.dropdown {
  // otherwise when the dropdown is open it clashes with the content of the tree
  // (this is bizarre, the tree has no position absolute)
  z-index: $nav-z-index;
  &.disabled {
    > div {
      cursor: unset;
    }
  }
}

.header {
  padding: 8px 16px;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
}

.search {
  margin: 8px 0px 0px 0px;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
}
