@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.dropdown {
  // otherwise when the dropdown is open it clashes with the content of the tree
  // (this is bizarre, the tree has no position absolute)
  z-index: $nav-z-index;
  border-radius: 8px;
  // override dropdown default width: 100%
  width: calc(100% - 40px) !important;

  &.disabled {
    > div {
      cursor: unset;
    }
  }
}

.header {
  padding: 8px 16px;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
}

.search {
  margin: 8px 0px 0px 0px;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  display: flex;
  justify-content: space-around;
}

.menu {
  width: calc(100% - 24px);
  border-radius: 8px;
  padding: 0;
  padding-top: 8px;
  // border: 1px solid var(--border-medium-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}
