@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.componentCompareVersionPicker {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
}

.componentCompareVersionMenu {
  left: 0;
  min-width: 400px;
}
.showMenuOverNav {
  z-index: $topBar-zIndex;
}

.componentCompareVersionPlaceholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.componentCompareVersionContainer {
  display: flex;
  min-width: 0;
  align-items: center;
  font-size: 14px;

  &.left {
    padding-right: 16px;
  }
  &.right {
    padding-left: 16px;
  }
}

.componentCompareDropdown {
  width: 100%;
}
.arrowContainer {
  height: 60%;
  align-self: center;
  display: flex;
  img {
    display: flex;
    align-self: center;
    height: 100%;
  }
}

.titleText {
  display: flex;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
}

.rightPad {
  padding-right: 8px;
}
