// @import '~@bit/bit.base-ui.theme.colors';
// @import '~@bit/bit.base-ui.layout.breakpoints';
// @import '~@bit/bit.base-ui.constants.storage/_storage.module.scss';

.docsMainBlock {
	padding-left: 50px;
	padding-top: 80px;
	max-width: 80%;
	.heading {
		margin-bottom: unset;
	}
}

.maxWidth {
	max-width: 700px;
}

.marginBottom {
	margin-bottom: 30px;
}


.topRow {
	display: flex;
	align-items: baseline;
}

.copyMethod {
	display: flex;
	align-self: center;
	width: 100%;
	margin-bottom: 20px;
}
.copyTitle {
	margin-right: 10px;
	margin-bottom: unset;
}
.copyBox {
	flex-grow: 1;
}

.marginRight {
	margin-right: 10px;
}

.enhancedText {
	code {
		background-color: var(--muted-color);
		padding: 4px;
		border-radius: 4px;
		font-family: monospace;
		font-size: 14px
	}
}