.compNode {
  max-width: 260px;
  min-width: 100px;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  background: white;

  border-radius: 6px;

  text-align: left;
}

.nameLine {
  display: flex;
}

.breadcrumbs {
  text-transform: uppercase;
  color: #6c707c;
  font-size: 10px;
}

.name {
  font-weight: bold;
  margin-right: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buffs {
  display: flex;
  padding-top: 8px;
  line-height: 1;
  font-size: 15px;
  line-height: 16px;

  > * {
    margin-right: 8px;
  }
  > :last-child() {
    margin-right: 0px;
  }

  &:empty {
    display: none;
  }
}
