.explorer {
	display: grid;
	height: 100vh;
	
	color: var(--text-highlight);

	grid-template:
		'scopeName header'
		'navigation content';

	grid-template-columns: 300px 1fr;
	grid-template-rows: auto 1fr;

	> :nth-child(1) {
		grid-area: scopeName;
	}
	
	> :nth-child(2) {
		grid-area: header;
	}

	> :nth-child(3) {
		grid-area: navigation;
	}

	> :nth-child(4) {
		grid-area: content;
	}
}

.scopeName {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #babec9;
	height: 40px;
	background: #ededed;
	
	> b {
		font-weight: bold;
	}
}

.topbar {
	display: flex;
	align-items: center;
	
	border-bottom: 1px solid #babec9;
	height: 40px;
	background: #ededed;
}

.sideBar {
	border-right: 1px solid #ededed;
}