$topbarHeight: 64px;

.emptyContainer {
	height: 100vh
}

.left {
	overflow-y: scroll;
	width: 100%;
}
.main {
	width: 100%;
}

.workspaceWrapper {
	height: 100vh;
}


.sideBar {
	border-right: 1px solid #ededed;
	flex: 1;
	
	overflow: auto;
}