.previewContainer {
  overflow: hidden;
  padding-bottom: 57%;
  height: 0;
  position: relative;
  pointer-events: none;
  border-radius: 5px 5px 0 0;
}
.preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--light-border-color, #cccfd4);
}

.emptyPreview {
  background-color: var(--border-color, #ededed);
}
