$panelBg: #fafafa;

.container {
  display: flex;

  & > :not(:last-child) {
    border-right: 1px solid var(--border-color); // #e4e6ea
  }
}

.panel {
  background: $panelBg;
  height: 100%;
  width: 100%;
  min-width: 300px;
  border-left: 1px solid var(--border-color);
}
