$background: black;//var(--bg-crust, white);
$blinkMs:		 185ms;
$snappyMs:		 300ms; //use as default for all transitions
$fastMs:		 480ms;
$gracefullMs:	 785ms;
$lateMs: 		1000ms;
$exaggeratedMs:	1270ms;
$pauseMs:		2050ms;
$slothMs:		3300ms;

.loader {
    position: fixed;
    // z-index: $loader-index;
    width: 100%;
    // background: linear-gradient(to right, rgba($background, 1) 0%, rgba($background, 0) 100%);
    transition: opacity $exaggeratedMs ease-out;
    
    opacity: 0;
    &.loading {
      opacity: 1;
  
      .progress {
        animation: progress $slothMs forwards ease-out infinite; 
      }
    }
  
    .progress {
      animation: completed $exaggeratedMs forwards;
    }
  }
  
  .progress {
    background: var(--base-color);
    // $purple-button;
    
    height: 3px; //expand .loader from inside
    width: 0%;
    max-width: 100%;
    border-radius: 4px;
    mix-blend-mode: overlay;
    
    box-shadow: 0 0 4px rgba(var(--base-color), 0.381);
  }
  
  @keyframes progress {
    to {
      width: 100%;
    }
  }
  
  @keyframes completed {
    0% {
      height: 3px;
    }
  
    50% {
      width: 100%;
      height: 7px; //expand .loader from inside
    }
  
    100% {
      width: 100%;
      height: 3px;
      opacity: 0;
    }
  
  }
  