.deprecateFilter {
  > div {
    line-height: 16px;
    display: flex;
  }

  .filterIcon {
    img {
      width: 16px;
    }

    .filterIconLabel {
      margin: 0px 8px;
      font-size: 14px;
    }
  }
}
