@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leftSide {
  display: flex;
  align-items: center;
  height: 100%;
}

.newNavigation {
  height: 100%;
  padding-left: 28px;
}

.navigation {
  list-style: none;
  height: 100%;
  padding-left: 28px;
  @media screen and (max-width: $br-md) {
    padding-left: 0;
  }

  li {
    display: block;
    margin-right: 16px;
    height: 100%;
  }

  // show desktop nav on larger res
  &.desktopNav {
    display: flex;
    @media screen and (max-width: $br-lg) {
      display: none;
    }
  }

  // show mobile nav on smaller res
  &.mobileNav {
    align-items: center;
    display: none;
    @media screen and (max-width: $br-lg) {
      display: flex;
      margin-right: 8px;
    }
  }
}

.rightSide {
  display: flex;
  align-items: center;
  height: 100%;
  > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 16px;
    }
  }
  @media screen and (max-width: $br-lg) {
    > * {
      margin-right: 8px;
    }
  }
  .widgets {
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    > nav {
      > a {
        padding: 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    // @media screen and (max-width: $br-lg) {
    //   display: none;
    // }
  }
  .widget {
    font-size: 17px;
  }
}

.useBox {
  --bit-drawer-margin: 14px;
}

.componentVersionMenu {
  width: 350px;
}
