@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.leftSide {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  min-width: 0;
}

.navigation {
  list-style: none;
  height: 100%;
  padding-left: 28px;
  @media screen and (max-width: $br-md) {
    padding-left: 0;
  }

  li {
    display: block;
    margin-right: 16px;
    height: 100%;
  }

  // show desktop nav on larger res
  &.desktopNav {
    display: flex;
    @media screen and (max-width: $br-md) {
      display: none;
    }
  }

  // show mobile nav on smaller res
  &.mobileNav {
    align-items: center;
    display: none;
    @media screen and (max-width: $br-lg) {
      display: flex;
      margin-right: 8px;
    }
  }
}

.rightSide {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 16px;
    }
  }
  @media screen and (max-width: $br-lg) {
    > * {
      margin-right: 8px;
    }
  }
  .widget {
    font-size: 17px;
  }
}

.useBox {
  --bit-drawer-margin: 14px;
}

.componentVersionMenu {
  width: 350px;
}

.tab {
  > div {
    color: var(--on-background-color, #2B2B2B);
    padding: 0;
  }
}
.topBarNav {
  height: 100%;

  &.noBorder::after {
    display: none;
  }
}

.hideOnMobile {
  @media screen and (max-width: $br-md) {
    display: none;
  }
}
