@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';
@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.mobileMenuLink {
  margin: 0;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: var(--bit-bg-heavy);
  }
  @media screen and (max-width: $br-md) {
    height: 40px;
    font-size: 16px;
  }
}

.mobileMenu {
  > nav {
    display: flex;
    flex-direction: column;
  }
  .active {
    background-color: var(--bit-accent-bg, #eceaff);
    color: inherit;
    &:after {
      background-color: unset;
    }
  }
  .close {
    display: none;
  }
  @media screen and (max-width: $br-md) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: $modal-z-index;
    .close {
      align-self: self-end;
      padding: 8px;
      display: flex;
      &:hover {
        background-color: var(--bit-bg-heavy, #f6f6f6);
      }
    }
  }
}

.placeholder {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  height: 30px;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  border: 1px solid var(--bit-border-color, #babec9);
  [data-open='true'] & {
    color: var(--bit-accent-color, #6c5ce7);
  }
  > span {
    padding-left: 8px;
  }
  &:hover {
    background-color: var(--bit-bg-heavy, #f6f6f6);
  }
}
