.menuItem {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  flex-direction: row;
  padding: 8px 16px;
  cursor: pointer;
  // border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
}

.laneUpdated {
  line-height: 115%;
}

.laneMenuItemContainer {
  display: flex;
  width: 100%;

  &.selected {
    background-color: var(--surface-active-color, #dcd8f9);
  }
}

.laneContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;

  .top {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    flex: 2;

    &.mainLane {
      align-items: center;
    }

    .laneDisplayName {
      font-weight: 700;
      font-size: var(--bit-p-xs, '14px');
    }
  }

  .bottom {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    .laneName {
      text-align: left;
      font-weight: 400;
      font-size: var(--bit-p-xxs, '12px');
      background: var(--surface-neutral-hover-color, #f7f7f7);
      border-radius: 4px;
      padding: 2px 4px;
      max-width: 180px;
    }

    .timeStamp {
      text-align: right;
      font-size: var(--bit-p-xxs, '12px');

      > span:first-of-type {
        font-size: var(--bit-p-xxs, '12px');
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        max-width: 100px;
      }

      // @todo replace with var
      color: #9598a1;
    }
  }
}

.icon {
  display: flex;

  > img {
    height: 16px;
    width: 16px;
  }

  &.defaultMainLaneIcon {
    padding: 0px 4px;
    font-size: 16px;
  }
}
