@import '@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.dropdown {
  // otherwise when the dropdown is open it clashes with the content of the tree
  // (this is bizarre, the tree has no position absolute)
  // todo - check why this is commented out in cloud
  // z-index: $modal-z-index;
  border-radius: 8px;
  width: 100%;

  &.disabled {
    > div {
      cursor: unset;
    }
  }
}

.header {
  padding: 8px 16px;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
}

.search {
  display: flex;
  width: 100%;
}

.menu {
  width: 300px;
  min-width: initial;
  border-radius: 8px;
  padding: 0;
  // border: 1px solid var(--border-medium-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

.items {
  max-height: 200px;
  overflow: auto;
}

.laneSelector {
  width: 100%;
  display: flex;
}

.searchInputContainer {
  width: 100%;
  padding-top: 0;
}

.searchInputContainer .searchInput {
  font-size: 14px;

  &:focus {
    border: 1px solid var(--border-medium-focus-color, #c6c6c6);
  }
}

.searchInput + [class*='iconsHolder'] {
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.searchInput.clear + [class*='iconsHolder'] {
  font-size: 16px;
  cursor: pointer;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  gap: 8px;
}

.groupBy {
  display: flex;
  flex: 1;
}

.groupText {
  font-size: var(--bit-p-xs, '14px');
  flex: 1;
  display: flex;
  padding: 0px 4px;
}

.sort {
  display: flex;
  text-align: right;
}

.sortToggle {
  font-size: var(--bit-p-xs, '14px');
  text-transform: capitalize;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 2px;
}

.sortIcon {
  height: 14px;
  width: 14px;
  padding-right: 4px;
  filter: invert(46%) sepia(8%) saturate(298%) hue-rotate(189deg)
    brightness(95%) contrast(91%);
}
