.laneSelectorList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  // adjust for border
  width: calc(300px - 2px);
  max-height: 30vh;
}

.mainIcon {
  > img {
    height: 16px;
    width: 16px;
    padding: 0px 2px;
  }
}
