.testsPage {
  padding: 50px 40px 100px 40px;
  width: auto;
  overflow-y: auto;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: unset;
  }
  .title {
    margin-bottom: 24px;
    font-size: var(--h-xs);
  }
  .separator {
    margin-bottom: 41px;
  }
}

.testBlock {
  margin-bottom: 50px;
}
