.label {
  margin-bottom: 16px;
  &.latest {
    border-color: #37b26c;
    color: #37b26c;
  }
  &.checked-out {
    border-color: #0984e3;
    color: #0984e3;
  }
}

.emptyLabel {
  height: 25px;
  margin-bottom: 16px;
}
