.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
  border-radius: 8px;
}

.admonition h3 {
  display: flex;
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-heading > div {
  margin-top: 0;
  margin-bottom: 0;
}

.admonition-icon {
  display: inline-flex;
  align-self: center;
  margin-right: 4px;
}

.admonition-icon svg {
  display: inline-block;
  width: 18px;
  height: 22px;
  stroke-width: 0;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

/* default for custom types */
.admonition {
  background-color: var(--bit-accent-primary-bg, #eceaff);
  border-left: 8px solid var(--bit-accent-primary-color, #6c5ce7);
}

.admonition h3 {
  color: var(--bit-accent-primary-color, #6c5ce7);
}

.admonition .admonition-icon svg {
  stroke: var(--bit-accent-primary-color, #6c5ce7);
  fill: var(--bit-accent-primary-color, #6c5ce7);
}

.admonition-caution {
  background-color: rgba(230, 126, 34, 0.1);
  border-left: 8px solid #e67e22;
}

.admonition-caution h3 {
  color: #e67e22;
}

.admonition-caution .admonition-icon svg {
  stroke: #e67e22;
  fill: #e67e22;
}

.admonition-tip {
  background-color: var(--bit-accent-success-bg, #eefaf3);
  border-left: 8px solid var(--bit-accent-success-color, #37b26c);
}

.admonition-tip h3 {
  color: var(--bit-accent-success-color, #37b26c);
}

.admonition-tip .admonition-icon svg {
  stroke: var(--bit-accent-success-color, #37b26c);
  fill: var(--bit-accent-success-color, #37b26c);
}

.admonition-warning {
  background-color: var(--bit-accent-impulsive-bg, #fdeff2);
  border-left: 8px solid var(--bit-accent-impulsive-color, #e62e5c);
}

.admonition-warning h3 {
  color: var(--bit-accent-impulsive-color, #e62e5c);
}

.admonition-warning .admonition-icon svg {
  stroke: var(--bit-accent-impulsive-color, #e62e5c);
  fill: var(--bit-accent-impulsive-color, #e62e5c);
}

.admonition-important {
  background-color: var(--bit-accent-process-color, #f3faff);
  border-left: 8px solid var(--bit-accent-process-color, #0984e3);
}

.admonition-important h3 {
  color: var(--bit-accent-process-color, #0984e3);
}

.admonition-important .admonition-icon svg {
  stroke: var(--bit-accent-process-color, #0984e3);
  fill: var(--bit-accent-process-color, #0984e3);
}

.admonition-note {
  background-color: var(--bit-accent-hunger-bg, #fff5dd);
  border-left: 8px solid var(--bit-accent-hunger-color, #ffc640);
}

.admonition-note h3 {
  color: var(--bit-accent-hunger-bg, #ffc640);
}

.admonition-note .admonition-icon svg {
  stroke: var(--bit-accent-hunger-color, #ffc640);
  fill: var(--bit-accent-hunger-color, #ffc640);
}
