.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
  border-radius: 8px;
}

.admonition h3 {
  display: flex;
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-heading > div {
  margin-top: 0;
  margin-bottom: 0;
}

.admonition-icon {
  display: inline-flex;
  padding-top: 1px;
  margin-right: 4px;
}

.admonition-icon svg {
  display: inline-block;
  width: 18px;
  height: 22px;
  stroke-width: 0;

  stroke: currentColor;
  fill: currentColor;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

/* default for custom types */
.admonition {
  background-color: var(--bit-accent-primary-bg, #eceaff);
  border-left: 8px solid var(--bit-accent-primary-color, #6c5ce7);
}

.admonition h5 {
  color: var(--bit-accent-primary-color, #6c5ce7);
  display: flex;
}

.admonition-caution {
  background-color: var(--bit-accent-hunger-bg, #fff5dd);
  border-left: 8px solid var(--bit-accent-hunger-color, #ffc640);

  /* background-color: rgba(230, 126, 34, 0.1); */
  /* border-left: 8px solid #e67e22; */
}

.admonition-caution h5 {
  color: var(--bit-accent-hunger-color, #ffc640);
}

.admonition-tip {
  background-color: var(--bit-accent-success-bg, #eefaf3);
  border-left: 8px solid var(--bit-accent-success-color, #37b26c);
}

.admonition-tip h5 {
  color: var(--bit-accent-success-color, #37b26c);
}

.admonition-warning {
  background-color: var(--bit-accent-impulsive-bg, #fdeff2);
  border-left: 8px solid var(--bit-accent-impulsive-color, #e62e5c);
}

.admonition-warning h5 {
  color: var(--bit-accent-impulsive-color, #e62e5c);
}

.admonition-important {
  background-color: var(--bit-accent-process-color, #f3faff);
  border-left: 8px solid var(--bit-accent-process-color, #0984e3);
}

.admonition-important h5 {
  color: var(--bit-accent-process-color, #0984e3);
}

.admonition-note {
  background-color: var(--bit-accent-hunger-bg, #fff5dd);
  border-left: 8px solid var(--bit-accent-hunger-color, #ffc640);
}

.admonition-note h5 {
  color: var(--bit-accent-hunger-color, #ffc640);
}
