.link {
  color: var(--base-color);
  &:hover {
    color: var(--base-highlight);
    text-decoration: underline;
  }
}

.mdxLinkedHeading {
  padding-top: 40px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 8px;
  width: 100%;

  // if after hr dont add padding
  hr + & {
    padding-top: 0;
  }
  &:first-child {
    padding-top: 0;
  }
}

.mdxParagraph {
  margin-bottom: 16px;
  line-height: 1.7em;
}
