.groupNodesContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: rgba(247, 247, 245, 0.631372549);
  border-radius: 8px;
}

.heading {
  display: grid;
  grid-template-columns: 240px minmax(500px, 900px);
}

.headingLeft {
  grid-column: 1;
  display: flex;
  gap: 8px;
}

.headingRight {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  > img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    &.collapsed {
      transform: rotate(-90deg);
    }
    transition: transform 0.2s ease-in-out;
  }
}

.icon {
  > img {
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.signature {
  min-width: 400px;
  max-width: 800px;
}

// .headingRight,
// .icon {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }

.description {
  font-size: 14px;
}

.memberSummary {
  display: flex;
}

.propertiesOverview {
  display: flex;
}

.propertiesTitle {
  font-weight: 500;
  font-size: 16px;
}

.propertiesTitle,
.memberTitle {
  width: 240px;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.methodMembers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table,
.signature {
  display: flex;
  flex-direction: column;
}

.icon {
  cursor: pointer;
  flex-shrink: 0;
  > img {
    height: 18px;
    width: 18px;
    &.collapsed {
      transform: rotate(-90deg);
    }
    transition: transform 0.2s ease-in-out;
  }
}

.expandedRowDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}

.description {
  font-size: 14px;
  margin-bottom: 16px;
  font-style: italic;
}

.subtitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--bit-p-xxs);
  padding-right: 16px;
  margin-bottom: 12px;
}

.paramHeading {
  padding: 8px 0px 16px 0px;
}

.returnContainer {
  margin-bottom: 16px;
}

.memberDetails {
  display: grid;
  grid-template-columns: 240px minmax(400px, 800px) 50px;
  width: 100%;
  align-items: center;
  gap: 16px 0px;
}

.collapsedRow {
  align-items: center;
}

.collapsedRow,
.expandedRow {
  display: contents;
  padding: 16px 0px;
}

.memberTitle,
.leftPlaceholder {
  grid-column: 1;
}

.signature,
.expandedRowDetails,
.icon {
  grid-column: 2;
}

.icon {
  grid-column: 3;
  justify-self: end;
}

.expandedRow {
  grid-column: 1 / span 3;
}

.table {
  padding-top: 8px;
}
