.groupNodesContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: rgba(247, 247, 245, 0.631372549);
  width: 100%;
  border-radius: 8px;
}

.heading {
  display: flex;
}

.headingLeft {
  display: flex;
  gap: 4px;
  width: 240px;
  text-overflow: ellipsis;
}

.icon {
  > img {
    width: 18px;
    height: 18px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.headingRight {
  display: flex;
}

.description {
  font-size: 14px;
  // @todo change this to a token
}

.memberSummary {
  display: flex;
  width: 100%;
}

.propertiesOverview {
  display: flex;
  width: 100%;
}

.propertiesTitle,
.memberTitle {
  width: 240px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.methodMembers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.memberDetails {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.table,
.signature {
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
}

.collapsedRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  cursor: pointer;
  flex-shrink: 0;
  > img {
    height: 18px;
    width: 18px;
    &.collapsed {
      transform: rotate(-90deg);
    }
    transition: transform 0.2s ease-in-out;
  }
}

.expandedRow {
  display: flex;
  width: 100%;
}

.expandedRowDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 16px;
  gap: 24px;
}

.leftPlaceholder {
  width: 240px;
}

.description {
  font-size: 14px;
  margin-bottom: 16px;
  font-style: italic;
}

.subtitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--bit-p-xxs);
  padding-right: 16px;
  margin-bottom: 12px;
}

.paramHeading {
  padding: 8px 0px 16px 0px;
}

.returnContainer {
  margin-bottom: 16px;
}
