.parameterContainer,
.parameterName,
.parameterType {
  display: flex;
}

.parameterContainer {
  padding-bottom: 16px;
}

.parameterName {
  padding-right: 8px;
}

.node {
  font-size: var(--bit-p-xs);
  word-break: normal;
  position: relative;
  line-height: 1.2em;
  // background-color: var(--surface01-color, #fffbff);
  padding: 4px;
  border-radius: 4px;
  word-break: keep-all;
  flex-wrap: wrap;
}

.paramType {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: var(--bit-p-xs);

  .name {
    display: flex;

    &:after {
      content: ':';
      padding: 0px 1px;
      font-weight: 500;
    }
  }

  .type {
    display: flex;
  }
}

.paramRow {
  padding: 8px 0px !important;
  margin-bottom: 0;
}

.paramHeading {
  padding: 8px 0px 16px 0px;
}
