.changeLogPage {
  padding: 50px 40px 100px 40px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;

  .title {
    margin-bottom: 24px;
    font-size: var(--bit-h-xs, 26px);
  }
  .separator {
    margin-bottom: 0;
  }
}

.separatorNoChangeLog {
  margin-bottom: 41px;
}

.changeLogCard {
  margin-bottom: 8px;
}

.lane {
  display: flex;
  align-items: center;
  min-width: 0;
  padding: 24px 0px 16px 32px;
  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: large;
    padding: 0px 8px;
  }
  img {
    transition: filter 300ms ease-in-out;
    height: 24px;
    width: 24px;
  }
}
