.changeLogPage {
  padding: 50px 40px 100px 40px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;

  .title {
    margin-bottom: 24px;
    font-size: var(--bit-h-xs, 26px);
  }
  .separator {
    margin-bottom: 0;
  }
}

.separatorNoChangeLog {
  margin-bottom: 41px;
}

.changeLogCard {
  margin-bottom: 8px;
}

.logContainer {
  display: flex;
  flex-direction: column;
}
