.background {
  background: var(--bg-dent);
  // padding: 24px 14px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  display: flex;
  overflow-x: auto;

  padding: 16px;

  > * {
    margin-right: 16px;
  }
  > :last-child {
    margin: 0;
  }
}
