.background {
  background: var(--bg-dent);
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  display: flex;
  overflow-x: auto;

  // css trick - enforce padding at the end of a overflow: auto list
  &::after {
    content: '';
    padding: 6px;
  }

  > * {
    margin-right: 16px;
    flex: none;
  }
  > :last-child {
    margin: 0;
  }
}
