.background {
  background: var(--bit-bg-dent, #f6f6f6);
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--bit-border-color-lightest, #ededed);
  display: flex;
  overflow-x: auto;
  max-height: 500px;

  > * {
    margin-right: 16px;
  }

  > :last-child {
    margin: 0;
  }
}
