.typeComponentContainer {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.typeName {
  padding-bottom: 24px;
}
.typeComment {
  font-size: var(--bit-p-xs);
  padding-bottom: 24px;
}
.typeSignatureContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.typeExample {
  padding-bottom: 24px;
}
.typeExampleTitle {
  padding: 16px 0px;
}
.typeLocation {
  padding-bottom: 24px;
}
.typeLocationLink {
  max-width: fit-content;
  font-size: var(--bit-p-xs);
}

.typeMembersTitle {
  padding-bottom: 16px;
}
