.drawerNameContainer {
  display: flex;
  align-items: baseline;
  padding: 8px 0px;
  font-size: var(--bit-p-xxs);
}

.versionContainer {
  display: flex;
}

.compId,
.status,
.versionContainer,
.versionIcon {
  padding-right: 8px;
}

.compId,
.status {
  padding-top: 2px;
}

.version {
  width: fit-content;
  max-width: 50px;
  padding: 2px 8px;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 6px;
  background-color: var(--bit-bg-heavy, #f4f5f6);
}

.versionIcon {
  display: flex;
  justify-self: center;
  img {
    height: 12px;
    display: flex;
    align-self: center;
  }
}
