.menuItem {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: var(--bit-text-color-heavy);

  .icon {
    color: var(--bit-text-color-light, #6c707c);
    margin-right: 0.76em;
    font-size: 1.15em;
  }
}

.interactive:hover {
  background: var(--bit-bg-heavy, #f6f6f6);
  cursor: pointer;
}

.active {
  background: var(--bit-accent-bg, #eceaff);

  &:hover {
    background: var(--bit-accent-bg, #eceaff);
  }

  .icon {
    color: var(--bit-accent-color, #6c5ce7);
  }
}
