.menuItem {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: var(--highlighted-text);

  .icon {
    color: var(--bit-text-color-light);
    margin-right: 0.76em;
    font-size: 1.15em;
  }
}

.interactive:hover {
  background: var(--bit-bg-color-highlight);
  cursor: pointer;
}

.active {
  background: var(--bit-accent-bg);

  &:hover {
    background: var(--bit-accent-bg);
  }

  .icon {
    color: var(--bit-accent-color);
  }
}
