.infoCard {
  padding: 24px;
}

.separator {
  border-bottom: 1px solid #cccfd4;
  border-top: none;
  border-radius: 5px;
  margin-bottom: 24px;
  margin-top: 24px;
  box-sizing: border-box;
}

.icon {
  font-size: 1.15em;
  margin-right: 8px;
}
