.emptyComponentGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: auto;
  text-align: center;
  padding: 0 20px;

  > img {
    margin-bottom: 40px;
  }
}

.title {
  font-size: var(--p-xxl);
  margin-bottom: 32px;

  > span:last-child {
    font-weight: bold;
  }
  .purpleLink {
    color: var(--base-highlight);
    text-decoration: none;
    cursor: pointer;
  }
}

.bottomText {
  margin-bottom: 16px;
  font-size: var(--p-xs);

  .purpleLink {
    color: var(--base-highlight);
    text-decoration: underline;
    cursor: pointer;
  }
}

.iconLine {
  display: flex;

  .logo {
    width: 24px;
    height: 24px;
    margin: 0 7px;
  }
}
