.toggleButton {
  position: relative;
  display: inline-flex;
  height: 40px;
  border: 1px solid var(--border-medium-color, #ededed);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 2px;
}

.option {
  z-index: 1;
  cursor: pointer;
  border-radius: 6px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 8px;
  transition: color 150ms ease-in-out;
  color: var(--on-surface-medium-color, #707279);
  &.active {
    color: var(--on-surface-color, #2b2b2b);
  }
  &.noAnimation {
    background-color: var(--surface02-color, #f7f2fd);
  }
}
