.row {
  font-size: var(--p-xs);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-muted);
  margin-bottom: 25px;
  .users {
    display: flex;
    align-items: center;
  }
}

.marginRight {
  margin-right: 5px;
}

.name {
  font-weight: bold;
  &.displayName {
    text-transform: capitalize;
  }
}
