.docsMainBlock {
  padding: 50px 40px 0 40px;
  max-width: 1440px;
  margin: 0 auto 150px auto;
  .heading {
    margin-bottom: unset;
  }
}

.maxWidth {
  max-width: 700px;
}

.marginBottom {
  margin-bottom: 30px;
}

.topRow {
  display: flex;
  align-items: baseline;
}

.copyMethod {
  display: flex;
  align-self: center;
  width: 100%;
  margin-bottom: 20px;
}
.copyTitle {
  margin-right: 10px;
  margin-bottom: unset;
}
.copyBox {
  flex-grow: 1;
}

.marginRight {
  margin-right: 10px;
}

.compositionSection {
  margin-top: 40px;
}

.mdx {
  font-size: 16px;
  // to allow user to control column alignment via mdx table
  table,
  th,
  td,
  tr,
  thead {
    text-align: start;
    &[align='center'] {
      text-align: center;
    }
    &[align='left'] {
      text-align: start;
    }
    &[align='right'] {
      text-align: end;
    }
  }
  > * {
    margin-bottom: 16px;
  }
}
