// @TODO - delete this file once using documenter theme > v4.0.0

.headingOverrides {
  --bit-h-xxs: 16px;
  --bit-h-xs: 18px;
  --bit-h-sm: 24px;
  --bit-h-md: 26px;
  --bit-h-lg: 36px;
  --bit-h-xl: 40px;
  --bit-h-xxl: 50px;

  // legacy values:
  --h-xxs: 16px;
  --h-xs: 18px;
  --h-sm: 24px;
  --h-md: 26px;
  --h-lg: 36px;
  --h-xl: 40px;
  --h-xxl: 50px;
}
