.compositionSection {
  margin-top: 40px;
}

.compositionCard {
  max-width: 100%;
  overflow: hidden;
  max-height: 500px; // limit the composition card height in the overview page
}

.docsMainBlock {
  padding: 20px 40px 10px 40px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 150px 0;
  .heading {
    margin-bottom: unset;
  }
}

.mdx {
  font-size: 16px;
}
