$panelBg: #fafafa;

.compositionsPage {
  height: 100%;
  width: 100%;
}

.compositionPreview {
  padding-top: 20px;
  width: 100%;
}

.left {
  min-width: 200px;

  //cannot assign max-width directly to right side
  max-width: calc(100% - 200px);

  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.right {
  position: relative;
  background: $panelBg;
  overflow-y: auto;
  // this is to fix the right panel when it gets too big or too small
  min-width: 200px;
  max-width: calc(100% - 200px);
}

.splitter {
  position: relative;
  border-right: 1px solid var(--border-color, #ededed);
}

.collapser {
  right: 0;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  flex: none;
}

.tabContent {
  flex: 1 1;
  overflow: auto;

  &:empty {
    display: none;
  }
}

.compositions {
  padding: 16px 8px 0 8px;
}

.compositionsIframe {
  border: 8px solid var(--border-color, #ededed);
  box-sizing: border-box;
}
