@import '@teambit/base-ui.layout.breakpoints/_breakpoints.scss';
@import '@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.componentTitle {
  > h1 {
    margin: 0;
  }
}

.badgeContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px; // this is to align the badges to the title text as opposed to the title line

  > * {
    margin: 0 8px;
  }
}

.subTitle {
  white-space: break-spaces;
}

.titleRow {
  margin-bottom: 20px;
}

.contentTabs {
  margin-bottom: 16px;
  min-width: 70%;
  max-width: 100%;

  @media screen and (max-width: $br-l) {
    width: 100%;
  }

  .nav > div {
    font-size: 12px;
    padding: 6px 12px;
  }

  .tab {
    border-bottom: 0;
  }
}

.copyBox {
  background: var(--background-color, #ffffff);
  border-top-left-radius: 0;
}

.title {
  letter-spacing: -1px;
}

.copyIcon {
  font-size: var(--bit-p-lg);
}

.copyContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  > div {
    display: flex;
  }
}

.pkgManagerPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--primary-surface-color, #f6f5fe);
  padding: 6px;
  border-radius: 6px;
}

.pkgManagerMenuItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  cursor: pointer;

  > div {
    padding: 4px;

    &:hover {
      background-color: var(--primary-surface-color, #f6f5fe);
    }
  }
}

.pkgManagerMenu {
  display: flex;
  z-index: $modal-z-index;
  border-radius: 6px;
}

.yarn {
  height: 17px;
}

.npm {
  width: 30px;
}

.pnpm {
  height: 16px;
}

.bit {
  font-size: var(--bit-p-lg, '16px');
}

.selected {
  background-color: var(--primary-surface-color, #f6f5fe);
}
