@import '~@bit/bit.base-ui.theme.colors';

.component {
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 8px;
	font-size: inherit;
	
	//TODO - move to a link component
	text-decoration: none;
	color: inherit;
	
	box-sizing: border-box;
	border-left: 0px solid transparent;

	&.active {
		color: $w10;
		background: $p50;
		&:hover {
			background: $p50;
		}
	}

	> div {
		display: flex;
		align-items: center;
		> span {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 0 8px;
		}
	}

	.icon {
		width: 16px;
	    height: 16px;

	}
	
}