.highlighter {
  overflow: scroll;
  border: solid var(--border-color, #ededed);
  border-width: 0px;
  box-sizing: border-box;
  height: 100vh;

  transition: all 300ms;

  &.active {
    border-width: 8px;
  }
}

.label {
  font-family: sans-serif;
}
