.parameterContainer,
.parameterName,
.parameterType {
  display: flex;
}

.parameterContainer {
  padding-bottom: 16px;
}

.parameterName {
  padding-right: 8px;
}

.node {
  font-size: var(--bit-p-xs);
  word-break: normal;
  position: relative;
  line-height: 1.2em;
  // background-color: var(--surface01-color, #fffbff);
  padding: 4px;
  border-radius: 4px;
  word-break: keep-all;
  flex-wrap: wrap;
}
