.diffEditor {
  // TODO - remove unneeded css vars overrides
  // TODO - find a better place to put the color overrides. maybe move to a theme?
  --bit-text-color-heavy: #f6f6f6;
  --bit-text-color-light: #f6f6f6;
  --bit-border-color-lightest: #434343;
  --on-background-color: #f6f6f6;
  --surface-neutral-color: #161616;
  --bit-accent-heavy: #f6f6f6;
  --bit-accent-color: #9183ff;

  --bit-accent-bg: #2d2842;
  --bit-bg-heavy: #140f27;
  --editor-bg-color: #1e1e1e;
  background-color: var(--editor-bg-color, #1e1e1e);
}

.componentCompareAspectViewContainer {
  width: 100%;
  height: 100%;
}
.componentCompareAspectDiffEditorContainer {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  /**
  * Monaco container is not flex so providing it a fixed calculated height
  * so it can fill up the remaining space correctly instead of overflowing
  * 
  * Subtract the following
  *  selected file: (32px + 16px padding) = 48px; 
  *  diff editor headers: (16px + 16px padding) * 2 = 64px;
  *  total = 112px; 
  */
  height: calc(100% - 112px); 
}

.name {
  display: flex;
  align-items: baseline;
  padding: 8px;
}

.componentCompareAspectConfigDiff,
.componentCompareAspectCalculatedDiff {
  display: flex;
  flex: 1;
  padding: 8px;
  height: 100%;
  flex-direction: column;
}

.loader {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}