.statusLine {
  display: flex;
  align-items: baseline;
  line-height: 16px;

  > div:not(:last-of-type) {
    margin-right: 2px;
    &:after {
      content: ',';
    }
  }
  .modified {
    color: var(--process-color, #0984e3) !important;
  }
  .error {
    color: var(--negative-color, #e62e5c) !important;
  }
}

.errorBlock {
  margin-right: 2px;
  > span {
    font-size: 1.1em;
  }
}

// Status
.status {
  display: flex;
  justify-content: center;
  &.modified {
    color: var(--process-color, #0984e3);
  }
  &.deleted {
    color: var(--negative-color, #e62e5c);
  }
  &.new {
    color: var(--positive-color, #37b26c);
  }
}

// Tooltip
.list {
  list-style: revert;
  list-style-position: inside;

  > li:only-child {
    list-style: none;
  }
}

.tooltip {
  font-size: 12px;
}
