.cheatSheet {
  padding: 16px;
  overflow: auto;

  top: 16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
}

.shortcut {
  display: grid;
  grid-template-columns: 1fr 1em 2fr 3fr;
  row-gap: 8px;
}
