.node,
.nodeLink {
  display: flex;
  margin-right: 5px;
  font-family: Roboto mono;
  font-size: var(--bit-p-xxs);
}

.node {
  color: rgb(57, 115, 0);
}

.nodeLink {
  color: #4646c6;
}

.padding2 {
  padding: 0px 2px;
}
