.compositionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 16px;
  max-width: 1280px;
  transition: all 0.15s ease;
  padding: 16px;
  min-width: 0;
  min-height: 0;
}

.compositionCard {
  &.active {
    border-color: var(--primary-color, #5d4aec);
  }
}

.preview {
  max-height: 168px;
}
