@import '@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.overlay {
  position: fixed;
  z-index: $modal-z-index - 1;
  overflow-y: auto;
  background: var(--surface-neutral-color, #fff);
  border: 1px solid var(--border-medium-color, #ededed);
  border-radius: 8px;
  box-shadow: var(--bit-shadow-hover-low, 0 2px 8px 0 rgba(0, 0, 0, 0.2));
}

.suppressNativeMenu {
  display: none !important;
}
