$topbarHeight: 64px;

.emptyContainer {
  height: 100vh;
}

.main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.workspaceWrapper {
  height: 100vh;
  overflow: hidden;
}

.sidebarContainer {
  position: relative;
  width: 100%;
}

.sideBar {
  position: relative;
}
