.Hero {
  width: 100%;
  position: relative;
  background-size: cover;
  min-height: 800px;
}

.Hero .content {
  position: relative;
  z-index: 4;
  width: 500px;
  left: 10vw;
  top: 10vw;
}
.Hero .content .logo {
  max-width: 400px;
  display: block;
  position: relative;
  left: -5px;
}
.Hero .content p {
  width: 100%;
}
.Hero .content .button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-top: 30px;
}
.Hero .content .button-wrapper .Button:first-child {
  margin-right: 10px;
}
.Hero .overlay {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
