.status {
  display: flex;
  justify-content: center;
  &.modified {
    color: #ff8b00;
  }
  &.error {
    color: #df083e;
  }
  &.new {
    color: #37b26c;
  }
  &.staged {
    color: #0d2de3;
  }
  &.pending {
    color: #0d2de3;
  }
}
