@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';
$panelBg: #fafafa;

.componentCompareCodeContainer {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.left {
  min-width: 200px;
  //cannot assign max-width directly to right side
  max-width: calc(100% - 200px);

  display: flex;
}

.right {
  position: relative;
  background: $panelBg;
  overflow-y: auto;
  // this is to fix the right panel when it gets too big or too small
  min-width: 200px;
  max-width: calc(100% - 200px);
}

.splitter {
  position: relative;

  > :first-child {
    z-index: $nav-z-index + 1;
    position: absolute;
  }
}

.collapser {
  right: 1px;
}

.depNode {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 8px;
}

.dark {
  // TODO - remove unneeded css vars overrides
  // TODO - find a better place to put the color overrides. maybe move to a theme?
  --bit-text-color-heavy: #f6f6f6;
  --bit-text-color-light: #f6f6f6;
  --bit-border-color-lightest: #434343;
  --on-background-color: #f6f6f6;
  --surface-neutral-color: #161616;
  --bit-accent-heavy: #f6f6f6;
  --bit-accent-color: #9183ff;

  --bit-accent-bg: #2d2842;
  --bit-bg-heavy: #140f27;
  --editor-bg-color: #1e1e1e;
}
