.widgetLink {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	transition: color 300ms;
	margin: 0 5px;
	padding: 10px 15px;
	border-radius: 5px;
	
	&.active {
		background-color: white;
	}
}