.node {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: var(--bit-p-m);
  word-break: normal;
  color: var(--bit-text-color);
  padding-bottom: 10px;
}

.typeTitle {
  font-size: var(--bit-p-sm);
  color: var(--bit-accent-primary-color);
  margin-bottom: 16px;
  margin-top: 10px;
}

.typeBody {
  padding: 8px;
  border-radius: 5px;
}
