.rootLaneCompare {
  position: relative;
  height: 100%;
  width: 100%;
}

.laneCompareContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;

  &.fullScreen {
    overflow: hidden;
  }
}

.componentCompareContainer {
  height: auto;

  &.fullScreen {
    height: 100%;
  }
}

.componentCompareDrawer.hasFullScreen ~ .componentCompareDrawer:not(.fullScreen) {
  display: none;
}

.componentCompareDrawer.hasFullScreen + .componentCompareDrawer:not(.fullScreen) {
  display: none;
}

.versionPicker {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.componentCompareDrawer {
  border-bottom: none;
  padding: 8px 0px;
  overflow: unset;
  min-height: fit-content;
  max-height: fit-content;

  &.fullScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    z-index: 1;
    padding: 0;
  }

  // drawer name
  > div:first-child {
    border: 1px solid var(--bit-border-color-lightest, #ededed);
    border-radius: 5px;
    height: 50px;
  }
}

.componentCompareDrawerContent {
  overflow-y: auto;
  &.fullScreen {
    height: 100%;
    width: 100%;
  }
}

.groupedComponentCompareContainer {
  padding: 0px 24px;
}

.changeTypeTitle {
  padding: 16px 0px;
  background: var(--background-color, #121212);
  &.groupedStatus {
    text-transform: capitalize;
  }
}

.fullScreenIcon {
  display: flex;
  justify-content: flex-end;
  height: 18px;
  width: 18px;
  align-items: center;

  img {
    display: flex;
    height: 14px;
    width: 14px;
  }
}
