$border: 2;
$padding: 4;

.overlayBorder {
  border: $border * 1px solid var(--bit-highlighter-color, #eebcc9);

  border-radius: 11px;
  padding: $padding * 1px;

  pointer-events: none;
  user-select: none;
}

:export {
  offset: -$border - $padding;
}
