$border: 2;
$padding: 4;

.overlayBorder {
  box-sizing: border-box;
  border: $border * 1px solid var(--bit-highlighter-color, #eebcc9);

  border-radius: 11px;
  padding: $padding * 1px;

  pointer-events: none;
  user-select: none;
}

.hidden {
  // the frame's size is ignored anyways,
  // and so we can use 'display: none' and not 'visibility: hidden'
  display: none;
}

:export {
  offset: $border + $padding;
}
