@import '@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.emptyContainer {
  height: 100vh;
}

.corner {
  width: 300px;
  // --bit-border-color-lightest: #333333;
  // --bit-text-color-heavy: white;
}

.workspaceWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden; // TODO
  height: 100vh;
}

.topbar {
  flex: none;
}

// .topbarDarkColors {
//   --bit-bg-heaviest: #333333;
//   --bit-accent-color: #6a57fd;
//   --bit-bg-heavy: #2c2b36;
//   --on-surface-color: white;
//   div[class*='tab'] {
//     --on-background-color: white;
//   }
//   div[class*='versionDropdown'] {
//     div[class*='placeholder'] {
//       color: white;
//     }
//   }
//   div[class*='versionMenuContainer'] {
//     --bit-bg-heavy: #f4f5f6;
//   }
//   div[class*='useBox'] {
//     div[class*='placeholder'] {
//       --bit-bg-color: transparent;
//       color: #37b26c;
//       &:hover {
//         color: #2b2b2b;
//       }
//     }
//     &[data-open='true'] {
//       div[class*='placeholder'] {
//         --bit-bg-color: #37b26c;
//         color: #2b2b2b;
//       }
//     }
//   }
//   div[class*='iconAnchor'] {
//     // [data-open='true'] {
//     background: transparent !important;
//     // }
//     > span {
//       color: white;
//     }
//   }
// }

.main {
  flex: 1 1;

  height: 100%;
  overflow: hidden;
}

.splitter {
  position: relative;

  > :first-child {
    z-index: $pane-splitter-zIndex;
    position: absolute;
  }
}

.sidebar {
  min-width: 100px;
  max-width: 85%;
  position: relative;
  // background: var(--bit-bg-heaviest, #ededed);

  height: 100%;

  &.closed {
    overflow: hidden;
  }
}

// .sidebarDarkColors {
//   background-color: #333333;
//   --bit-text-color-heavy: #ededed;
//   --bit-text-color-light: #ededed;
//   --bit-bg-heavy: #2c2b36;
//   --bit-bg-color: #2c2b36;
//   --bit-accent-bg: #2c2b36;
//   --border-medium-color: #3d3d3c;

//   --surface-neutral-hover-color: #2b2b2b;
//   --bit-border-color-lightest: #2b2b2b;
//   color: #ededed;
//   a[class*='laneGalleryIcon'] {
//     > img {
//       filter: invert(1);
//     }
//   }
// }
