.commandBarOption {
  padding: 8px;
  transition: all 180ms;

  &:hover {
    background-color: var(--bg-topping-highlight);
  }

  &.active,
  &.active:hover {
    background-color: var(--muted-color);
  }
}

.main {
  display: flex;
}

.commandKeys {
  float: right;
  font-size: 0.76em;
}

.commandDescription {
  font-size: 0.85em;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
