.avatar {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--border-color, #ededed);

  .tooltip {
    max-width: 13ch;
  }

  .letter {
    text-align: center;
    display: inline-block;
    justify-self: center;
    color: var(--bg-color, #ffffff);
  }
  .orgDefault {
    text-align: center;
    display: inline-block;
  }
}
.avatarImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;
}

.default {
  background-color: var(--border-color, #ededed);
  border: 1px solid var(--border-color, #ededed);
  box-sizing: border-box;
}

:export {
  //text without hash
  defaultAvatarBgColor: str-slice(inspect(var(--border-color, #ededed)), 2);
}
