.avatar {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--bit-border-color-lightest, #ededed);

  .tooltip {
    max-width: 13ch;
  }

  .letter {
    text-align: center;
    display: inline-block;
    justify-self: center;
    color: var(--bit-bg-color, #ffffff);
  }
  .orgDefault {
    text-align: center;
    display: inline-block;
  }
}
.avatarImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;
}

.soloAvatarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.default {
  background-color: var(--bit-border-color-lightest, #ededed);
  border: 1px solid var(--bit-border-color-lightest, #ededed);
  box-sizing: border-box;
}

:export {
  //text without hash
  defaultAvatarBgColor: 'ededed';
}
