$borderLabelHeight: 20px;

.root {
  border-top-width: 20px;

  &:before {
    content: 'Seeder';
    position: absolute;
    top: 1px;
    left: 14px;

    font-size: $borderLabelHeight * 0.5;
    color: white;
    line-height: $borderLabelHeight;
  }
}
.box {
  border-color: var(--bit-accent-color);
  
}


.active {
  border-color: var(--bit-accent-color, #2E945A);
  background-color: var(--bit-accent-bg, #2E945A);
  box-shadow: var(--bit-shadow-hover-high);
}