@import '~@bit/bit.base-ui.theme.colors';

.scope {
	//TBD
	user-select: none;
	display: none;
}

.namespace {
	height: 40px;
	line-height: 40px;
	user-select: none;
	font-weight: bold;
	
	> .arrow {
		position: absolute; //only used to not take space
		transform: translate(-16px, 0);
		transition: all 300ms;

		[data-collapsed="true"] & {
			transform: translate(-16px, 2px) rotate(-0.25turn);
		}
	}
}

.component {
	height: 40px;
	line-height: 40px;
	
	box-sizing: border-box;
	border-left: 0px solid transparent;
	
	&.active {
		background: $w20;
		border-left: 8px $p40 solid;
	}
}
