.toolbar {
  display: flex;
  background-color: var(--bit-bg-heaviest, #ededed);
  padding: 8px;
}

.left,
.right {
  display: flex;
  flex: 1;
  padding: 8px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.mainContainer {
  display: flex;
  height: 100%;
  min-height: 80vh;
}

.subContainerLeft {
  flex: 1;
}

.subContainerRight {
  flex: 1;
}

.subView {
  height: 100%;
  background-color: white;
  overflow-y: auto;
}

.loader {
  display: flex;
  align-items: center;
  height: 100%;
}

.widgets {
  display: flex;
}

.dropdown {
  display: flex;
}
