@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  height: 30px;
  border-radius: 6px;
  user-select: none;
  transition: background-color 300ms ease-in-out;
  border: 1px solid var(--bit-border-color, #babec9);
  background-color: var(--bit-bg-color, #ffffff);
}

.menu {
  font-size: var(--bit-p-xs);
  border-radius: 6px;
  max-height: 240px;
  overflow-y: scroll;
  max-width: 100%;
  width: 100%;
  padding: 0px;
}
