
.compositionPreview {
  height: 225px;
  overflow: hidden;
  padding: 5px;
  border: 1px solid var(--border-medium-color);
  border-radius: 8px;
}

.compositionCard {
  min-width: 330px;
  margin: 5px;  
  position: relative;
}

.carousel {
  display: flex;
  cursor: pointer;
  align-items: center;
  overflow-x: auto;
}

.previewOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  // z-index: 10;
  top: 0;
  left: 0;
}
