.componentSizeTooltip {
  padding: 0;
  // need to add !important to override the inline style added by Tippy.js
  max-width: fit-content !important;
}
.componentSizeTooltipContent {
  font-size: var(--bit-p-xs, '14px');
}
.label {
  padding: 4px 8px;
}
.darkWeight img[src$='weight.svg'] {
  filter: saturate(0) invert(1) contrast(4);
}
