.schemaNodeDetailsContainer {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.schemaNodeDetailsName {
  padding-bottom: 24px;
}
.codeEditorContainer {
  > section {
    overflow: hidden;
    border-radius: 8px;
  }
}
.schemaNodeDetailsComment {
  font-size: var(--bit-p-xs);
  padding-bottom: 24px;
}
.schemaNodeDetailsSignatureContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.schemaNodeDetailsExample {
  padding-bottom: 24px;
}
.schemaNodeDetailsExampleTitle {
  padding: 16px 0px;
}
.schemaNodeDetailsLocation {
  padding-bottom: 24px;
}
.schemaNodeDetailsLocationLink {
  max-width: fit-content;
  font-size: var(--bit-p-xs);
}
.schemaNodeDetailsMembersContainer {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
}
.groupName {
  padding-bottom: 16px;
  font-size: var(--bit-p-md);
  font-weight: 500;
  text-transform: capitalize;
}

.codeTooltip {
}
