.container {
  padding: 80px 5% 150px 5%;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.cardGrid {
  grid-column-gap: 10px;
  grid-gap: 32px 24px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  display: grid;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  max-width: 1280px;
}
