.checkboxContainer {
  margin-top: 16px;
  padding-left: 16px;
}

.subView {
  height: 100%;
  background-color: var(--bit-bg-color, #fff);
  overflow: auto;
}

.loader {
  display: flex;
  align-items: center;
  height: 100%;
}

.toolbar {
  display: flex;
  background-color: var(--bit-bg-heaviest, #ededed);
  padding: 8px;
}

.widgets {
  display: flex;
}

.left,
.right {
  display: flex;
  flex: 1;
  padding: 8px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.splitLayout {
  margin-top: 8px;
}
