.buttonsHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 4px;
  border-top: 1px solid var(--design-border-medium-color, #ededed);
}
.clearText {
  color: var(--design-on-surface-low-color, #9598a1);
  cursor: pointer;
}
