.componentCompareContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
  overflow: hidden;
}
.top {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bottom {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  padding-top: 8px;
  height: 100%;
}
.navContainer {
  display: flex;
  align-items: center;
  min-height: 56px;
  border-bottom: 1px solid var(--bit-border-color-lightest,#ededed);
}

.navigation {
  display: flex;
  list-style: none;
  height: 100%;

  @media screen and (max-width: 768px) {
    padding-left: 6px;
  }

  > li {
    display: block;
    margin-right: 16px;
    height: 100%;
  }
}


.loader {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}