.collapser {
  position: absolute;
  right: -39px;
  bottom: 80px;
  z-index: 999;
  cursor: pointer;
  transition: right 300ms ease-in-out;
  &:hover {
    right: -45px;
    .circle {
      padding-left: 16px;
    }
  }
  &.open {
    .circle {
      > div {
        transform: rotate(-0.5turn) translateY(2px);
        transform-origin: center;
      }
    }
  }
  .circle {
    height: 100%;
    font-size: 12px;
    padding: 16px;
    padding-left: 10px;
    background-color: white;
    // TODO - @oded - unify with other shadows. this shadow is different. talk to amir
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.09), 0 1px 2px 0 rgba(0, 0, 0, 0.23);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: padding 300ms ease-in-out;
    > div {
      transition: transform 300ms ease-in-out;
    }
  }
}
