@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.codeViewTitle {
  display: flex;
  height: 40px;
}

.img {
  width: 20px;
  margin-right: 10px;
}

.fileName {
  display: flex;
  align-items: baseline;
}

.componentCodeViewContainer {
  display: flex;
  width: calc(100% - 80px);
  flex: 1;
  padding: 24px 40px;
  flex-direction: column;
  transition: min-height 0.4s ease-in-out;
  height: calc(100% - 48px);
  min-height: calc(100% - 48px);
  Ë &.loading {
    padding: 0px 24px;
  }
}

.componentCodeEditorContainer {
  display: flex;
  flex: 1;
  transition: min-height 0.4s ease-in-out;
  position: relative;
  background: var(--on-surface-neutral-low-color, #282828) !important;
  height: calc(100% - 40px);
  min-height: calc(100% - 40px);

  > section {
    overflow: hidden;
  }
}

.loader {
  width: calc(100% - 48px);
  color: var(--on-surface-neutral-low-color, #282828);
  background-image: linear-gradient(to right, currentColor 0%, #2b2b2b 30%, #2b2b2b 50%, currentColor 100%);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: absolute;
  height: 220px;

  > div {
    background-image: linear-gradient(to right, currentColor 0%, #2b2b2b 30%, #2b2b2b 50%, currentColor 100%);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.hideLoader,
.hideLoader > div {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.themeContainer {
  height: 100%;
  min-height: 100%;
  display: flex;
  width: 100%;
  flex: 1;

  > div {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
  }
}
