.container {
  padding: 80px 5% 150px 5%;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.rightPreviewPlugins {
  // background-color: var(--surface-color);
  display: flex;
  // box-shadow: 0px 2px 48px rgb(0 0 0 / 89%);
  // box-shadow: 0px 2px 160px rgb(0 0 0 / 52%);
  // border-radius: 8px;
  // padding: 4px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.envIcon {
  // padding-right: 4px;
  // height: 24px;
  height: 14px;
  // padding-top: 2px;
}

.badge {
  background-color: var(--surface-color);
  padding: 4px;
  height: 15px;
  margin-right: 4px;
  z-index: 100;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: 0px 2px 18px rgb(0 0 0 / 10%);
}

.cardGrid {
  grid-column-gap: 10px;
  grid-gap: 32px 24px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  display: grid;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  max-width: 1280px;
}
