.widgetLink {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: color 300ms;
  padding: 7px;
  border-radius: 6px;
  color: var(--text-highlight);
  background-color: var(--bg-color);

  &.active {
    color: var(--base-highlight);
  }
}
