$d30: #878c9a;
$b70: #0d2de3;

.graph {
  :global {
    .react-flow__edge-path {
      stroke: $d30;
      stroke-width: 2px;
    }

    .react-flow__handle {
      &-bottom {
        bottom: -4px;
      }

      &-top {
        top: -4px;
      }
      &-left {
        left: -4px;
      }
      &-right {
        right: -4px;
      }
    }

    .react-flow__arrowhead polyline {
      stroke: $d30;
      stroke-width: 2px;
    }

    .react-flow__handle {
      background: none;
    }
  }
}

.minimap {
  right: 24px;
  bottom: 24px;
  box-shadow: var(--shadow-faint);
  background: white !important; // override inline styles from package
  border-radius: 5px;

  :global {
    .react-flow__minimap-mask {
      stroke: $b70;
      stroke-width: 4px;
      fill: transparent;
    }
  }
}

.controls {
  box-shadow: var(--shadow-faint);

  left: 24px;
  bottom: 24px;
}
