$d30: #878c9a;
$b70: #0d2de3;

.graph {
  :global {
    .react-flow__edge-path {
      stroke: $d30;
      stroke-width: 2px;
    }

    .react-flow__arrowhead polyline {
      stroke: $d30;
      stroke-width: 2px;
    }

    .react-flow__handle {
      background: none;
    }
  }
}

.minimap {
  box-shadow: var(--shadow-faint);
  border-radius: 5px;

  :global {
    .react-flow__minimap-mask {
      stroke: $b70;
      stroke-width: 4px;
      fill: transparent;
    }
  }
}

.controls {
  box-shadow: var(--shadow-faint);

  left: unset;
  right: 220px;
}
