@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.laneCompareContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  // overflow: auto;
}

.componentCompareContainer {
  height: 55vh;
}

.versionPicker {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.componentCompareDrawer {
  // drawer name
  > div:first-child {
    border: 1px solid var(--bit-border-color-lightest, #ededed);
    border-radius: 5px;
  }
}

.componentCompareDrawerContent {
  overflow-y: auto;
}

.groupedComponentCompareContainer {
  padding: 0px 24px;
}

.changeTypeTitle {
  padding: 16px 0px;
  top: 0;
  position: sticky;
  background: #fff;
  z-index: $topBar-zIndex;
}
