// TODO @Uri - reuse styles from NavBarItem
.toggleHighlightButton {
	display: 'block';
	cursor: 'pointer';
	padding: 4px;
	line-height: 1;
	border-radius: 5px;
  
	&.active {
	  background: lightblue;
	}
  }
  