.componentCompareContainer {
  width: 100%;
  padding: 24px;
}
.top {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bottom {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding-top: 24px;
}

.navigation {
  display: flex;
  list-style: none;
  height: 100%;

  @media screen and (max-width: 768px) {
    padding-left: 6px;
  }

  > li {
    display: block;
    margin-right: 16px;
    height: 100%;
  }
}
