.groupName {
  padding-bottom: 16px;
  font-size: var(--bit-p-lg);
  font-weight: 500;
  text-transform: capitalize;
}

.groupNodesContainer {
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
  flex-direction: column;
}

.paddingTop {
  padding-top: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
}

.row > div {
  flex: 1;
  text-align: left;
}

.name {
  word-break: normal;
}

.codeSnippet {
  font-size: var(--bit-p-xs);
  word-break: normal;
  position: relative;
  line-height: 1.2em;
  background-color: var(--surface01-color, #fffbff);
  padding: 4px;
  border-radius: 4px;
  word-break: keep-all;
  flex-wrap: wrap;
}
