@import '~@teambit/base-ui-temp.theme.colors';

.component {
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 8px;
	font-size: inherit;
	
	//TODO - move to a link component
	text-decoration: none;
	color: inherit;
	
	box-sizing: border-box;
	border-left: 0px solid transparent;

	&.active {
		color: $w10;
		background: $p50;
		.right {
			.componentIcon {
				color: $w10;
			}
		}
		&:hover {
			background: $p50;
		}
	}

	.icon {
		width: 16px;
		height: 16px;
		opacity: 0.8;
	}

	.left {
		display: flex;
		align-items: center;
		flex: 1;
    	min-width: 0;
		> span {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 0 8px;
		}
	}


	.right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.componentIcon {
			color: var(--text-muted);
			margin-right: 8px;
		}
	}
	
}