@import '@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.container {
  z-index: $modal-z-index;
}

.top {
  padding: 16px 24px 24px 24px;
  color: var(--bit-text-color-heavy, #2b2b2b);
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--bit-p-xs);
  font-weight: bold;
  > span {
    &:first-child {
      font-weight: inherit;
      margin-right: 8px;
    }
  }
}

.drawer {
  justify-content: space-between;
  > div {
    display: flex;
    align-items: center;
    > span {
      &:first-child {
        margin-right: 8px;
        font-size: var(--bit-p-md, 16px);
      }
    }
  }
}

.tabs {
  display: flex;
  padding: 0 24px;
  line-height: 14px;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  overflow-x: auto;
}

.registry {
  > div:last-child {
    border-top: none;
    padding: 0;
  }
}

.importContent {
  > div {
    margin: 12px 0;
  }
  > div:nth-child(2),
  > div:nth-child(4) {
    margin-bottom: 24px;
  }
}

.bottom {
  display: flex;
  align-items: center;

  > span:first-child {
    margin-right: 8px;
    font-size: var(--bit-p-md, 16px);
  }

  > span:last-child {
    font-size: var(--bit-p-xs, 14px);
  }
}

.disabled {
  font-size: var(--bit-p-xs, 12px);
  padding: 4px;
  background-color: var(--warning-surface-color, #fffcf4);
}

.warnIcon {
  padding-right: 4px;
  // warning yellow color
  filter: invert(59%) sepia(75%) saturate(402%) hue-rotate(3deg) brightness(82%) contrast(100%);
}

.copyBox > div {
  font-size: var(--bit-p-xxs, 12px);
}
