.input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: none;

  // command bar is open iff input is focused, so outline is not needed
  outline: none;

  &::placeholder {
    // TODO - reenable when using @teambit/documenter.theme.theme-context > 4.0.1 or @teambit/base-ui.theme.theme-provider > 1.0.1
    // color: var(--bit-text-inactive, #babec9);
    color: #babec9;
  }
}
