.tabLine {
  height: 4px;
  left: 0;
  position: absolute;
  transition: transform 150ms ease-in-out, width 150ms ease-in-out;
  background-color: var(--primary-color, #6c5ce7);

  &[data-position='top'] {
    top: 0;
  }
  &[data-position='bottom'] {
    bottom: 0;
  }
}
