.errorSection {
  margin-bottom: 50px;
}
.heading {
  font-size: var(--p-xxs);
  font-weight: bold;
  color: var(--text-muted);
  text-transform: uppercase;
}

.row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 20px;
  grid-gap: 30px;
  padding: 0 13px;
  > * {
    padding: 15px 0;
  }
  > span {
    visibility: hidden;
    margin: auto;
  }
}
.testRow {
  grid-template-columns: minmax(0, 1fr) 20px;
}
.rowTitle {
  display: flex;
  align-items: center;
  font-size: 14px;
  > span:first-child {
    font-size: 16px;
    margin-right: 10px;
    align-self: baseline;
    color: #e62e5c;
  }
  .arrow {
    justify-self: flex-end;
  }
}

.errorBlock {
  overflow-wrap: break-word;
  margin-bottom: 10px;
  font-size: var(--p-xs);
  padding: 5px 14px;
  color: #e62e5c;
}
.codeBlock {
  > span {
    display: none;
  }
}
.snippet {
  max-height: 450px;
  background: #282c34 !important;
  span {
    color: white !important;
    font-size: 11px;
    background: #282c34 !important;
  }
}
