.topBar {
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;
	list-style: none;
	height: 100%;

	> li {
		display: block;
		margin-right: 16px;
		height: 100%;
	}
}

.rightSide {
	float: right;
	> * {
		margin-right: 8px;
	}
	// display: flex;
	
}