.propRow {
  border-bottom: 1px solid var(--bit-border-color-lightest, var(--bit-border-color-lightest, #ededed));
  margin-bottom: 8px;
  padding: 18px 20px;
  &.singleColumn {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mobileTitle {
  display: none;
  &.show {
    display: flex;
    min-width: 110px;
    color: var(--bit-text-color-light);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--bit-p-xxs);
  }
}

.column {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.columnContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: unset;
  text-transform: capitalize;
}

.required {
  color: var(--bit-text-color-light);
  font-size: 12px;
  white-space: nowrap;
}

.name {
  margin-right: 5px;
  font-family: Roboto mono;
  font-size: var(--bit-p-xxs);
  color: #4646c6;
}

.type {
  display: inline-block;
  background-color: var(--bit-accent-bg, #eceaff);
  font-family: Roboto mono;
  font-size: var(--bit-p-xxs);
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
}

.typeColumn {
  .highlighted {
    display: flex !important; // override syntax highlighter inline styles
    flex-grow: 1;
    background: unset !important; // override syntax highlighter inline styles
    padding: 0 !important; // override syntax highlighter inline styles
    word-break: break-word;
    font-family: Roboto mono;
    font-size: var(--bit-p-xxs);
    white-space: pre-wrap;

    margin: 0; // reset browser's default css

    > code > span {
      color: rgb(57, 115, 0);
    }

    > code {
      font-family: inherit; // reset browser's default css
    }
  }
}

.default {
  font-family: Roboto mono;
  font-size: var(--bit-p-xxs);
}

.breakWord {
  word-break: break-word;
}
