.mainContainer {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.subContainerLeft {
  flex: 1;
  background-color: #ededed;
  padding: 8px;
}

.subContainerRight {
  flex: 1;
  background-color: #ededed;
  padding: 8px 8px 8px 0px;
}

.loader {
  display: flex;
  align-items: center;
  height: 100%;
}
