.codeTabTree {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.codeTabDrawer {
  // drawer name
  > div:first-child {
    border: none;
    border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  }
}

.openDrawer {
  flex: 1;
  height: 100%;
}

.codeDrawerContent {
  overflow-y: auto;
}

.drawerIcon {
  margin-right: 8px;
  font-size: 14px;
}

.label {
  font-size: 10px;
  font-weight: unset;
  padding: 4px;
}
