.node {
  display: flex;
  width: fit-content;
  align-items: center;
  position: relative;
  font-size: var(--bit-p-xs);
  word-break: normal;
  padding: 4px 0px;
  border-radius: 4px;
  word-break: keep-all;
  flex-wrap: wrap;
  word-break: normal;
}
