.topBar {
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;
	list-style: none;
	height: 100%;

	> li {
		display: block;
		margin-right: 16px;
		height: 100%;
	}
}

.rightSide {
	display: flex;
	align-items: center;
	> * {
		margin-right: 12px;
	}
	.widget {
		margin: 0 20px;
	}
}

.icon {
	vertical-align: middle;
	font-size: 20px;
}

.latest {
	margin-right: 21px;
	border-radius: 3px;
	padding: 3px 9px;
}