@import '@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.collapser {
  position: absolute;
  bottom: 80px;
  z-index: $nav-z-index;
  cursor: pointer;
  transition:
    right 300ms,
    left 300ms ease-in-out;

  &.open {
    .circle {
      > div {
        transform: rotate(-0.5turn) translateY(1px);
        transform-origin: center;
      }
    }
  }
}
.circle {
  height: 100%;
  font-size: 10px;
  padding: 8px;
  background-color: var(--bit-bg-color, #fff);
  border: 1px solid var(--border-medium-color, #ededed);
  transition: padding 200ms ease-in-out;

  > div {
    transition: transform 200ms ease-in-out;
  }

  .right & {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    // padding-left: 10px;
    &:hover {
      padding-left: 12px;
    }
  }

  .left & {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    // padding-right: 10px;
    &:hover {
      padding-right: 12px;
    }
  }
}
