.overview {
  padding: 8px 8px 0px 8px;
  .separator {
    margin: unset;
  }
  .overviewLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 8px;
    text-decoration: none;
    color: var(--bit-text-color-heavy);
    margin-bottom: 8px;
    .icon {
      color: var(--bit-text-color-light);
    }
  }
  .active {
    background-color: var(--bit-accent-color);
    color: var(--bit-text-on-accent);
    font-weight: unset;
    .icon {
      color: var(--bit-text-on-accent);
    }
    &:hover {
      background-color: var(--bit-accent-heavy);
    }
  }
}
