.compNode {
  max-width: 260px;
  border: 2px solid #3a95ff;
  padding: 8px;
  background: white;

  border-radius: 6px;

  text-align: left;
}

.breadcrumbs {
  color: #6c707c;
  font-size: 10px;
}

.version {
  font-weight: bold;
  color: #2b2b2b;
}

.name {
  font-weight: bold;
  color: #2b2b2b;
}

.buffs {
  padding-top: 8px;
}
