.collapsibleSplitter {
  width: 5px;
  border-left: 1px solid var(--border-color, #ededed);
}

.highlighter {
  height: 100%;
  width: 100%;

  box-shadow: -2px 0 0 0 transparent;
  transition: box-shadow 300ms ease-in-out;

  &:hover,
  [data-is-dragging='true'] > .collapsibleSplitter > & {
    // border-left: 1px solid var(--border-color, #ededed);
    // outline-color: var(--base-color);
    box-shadow: -2px 0 0 0 var(--base-color);
    transition-delay: 0.3s;
  }
}
