.collapsibleSplitter {
  width: 2px;
}

.highlighter {
  height: 100%;
  width: 100%;
  
  border: 1px solid transparent;
  border-radius: 2px;

  transition: background-color 300ms ease-in-out;
  background: transparent;

  &:hover,
  [data-is-dragging='true'] > .collapsibleSplitter > & {
    background: var(--base-color);
    transition-delay: 0.3s;
  }
}
