.iconText {
  display: flex;
  align-content: center;
}
.withIcon {
  > :first-child {
    width: 16px;
    padding-right: 8px;
  }
}
.text {
  color: var(--design-on-surface-medium-color, #707279);
}
