.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;

  h2 {
    margin-bottom: 24px;
  }
}

.graph {
  flex-grow: 1;
  height: 100%;
  width: unset;

  border-radius: 5px;
  border: solid 1px var(--border-color);
  background: var(--bg-dent, #f6f6f6);
}

.summery {
  margin-bottom: 24px;
}

.filters {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;

  font-size: 0.75em;
  box-shadow: var(--shadow-faint);
  z-index: 8; // position above the abs positioned graph items
}
