.statusLine {
  display: flex;
  align-items: baseline;
  .modified {
    color: #ff8b00 !important;
  }
  .error {
    color: #df083e !important;
  }
}

.errorBlock {
  margin-right: 2px;
  > span {
    font-size: 1.1em;
  }
}
