.statusLine {
  display: flex;
  align-items: baseline;
  > div:not(:last-of-type) {
    margin-right: 2px;
    &:after {
      content: ',';
    }
  }
  .modified {
    color: #ff8b00 !important;
  }
  .error {
    color: #df083e !important;
  }
}

.errorBlock {
  margin-right: 2px;
  > span {
    font-size: 1.1em;
  }
}
