.breadcrumb {
  color: var(--on-surface-medium-color);
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 5px;
  // height: 25px;
  padding-left: 4px;
  padding-top: 4px;
  // padding-bottom: 8px;
}

.componentName {
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
  font-size: 16px;
}

.name {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  // margin-bottom: 6px;
  // font-size: 14px;
}

// .description {
//   // color: var(--bit-text-color-light, #6c707c);
//   font-size: var(--bit-p-xs, 14px);
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box;
//   line-clamp: 2; /* number of lines to show */
//   box-orient: vertical;
//   -webkit-line-clamp: 2; /* number of lines to show */
//   -webkit-box-orient: vertical;
//   -moz-line-clamp: 2; /* number of lines to show */
//   -moz-box-orient: vertical;
// }

.version {
  background-color: var(--border-medium-color, #6c707c);
  font-size: 14px;
  border-radius: 8px;
  padding: 4px;
}

.versionIcon {
  transform: rotate(169deg);
  font-size: 14px;
}

.owner {
  font-size: 14px;
  margin-left: 3px;
}

.scopeId {
  font-size: 14px;
  margin-bottom: 5px;
}

.scopeName {
  font-size: 14px;
  margin-bottom: 5px;
}

.envIcon {
  float: left;
  margin-right: 5px;
  height: 14px;
  // width: 13px;
  // height: 13px;
  margin-top: 4px;

  &:after {
    filter: blur(10px);
  }
}

.scopeIcon {
  --bit-p-xs: 12px;
  float: left;
  // margin-right: 5px;
  // height: 14px;
  // width: 13px;
  border-radius: 6px;
  margin: 4px;
  // height: 13px;
  // margin-top: 4px;
}
