.commandBarOption {
  display: flex;
  align-items: center;

  height: 40px;
  padding: 0 24px;
  transition: all 180ms;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-topping-highlight);
  }

  &.active,
  &.active:hover {
    background-color: var(--muted-color);
  }
}

.name {
  flex: 1 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.commandKeys {
  float: right;
  font-size: 15px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
