@import '~@teambit/base-ui.theme.colors/colors.module.scss';

.folder {
  position: relative;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-weight: bold;
  font-size: inherit;
  line-height: 16px;
  padding-right: 8px;
  font-size: var(--bit-p-xs);
  user-select: none;
  cursor: pointer;
  &:hover {
    background: var(--bit-bg-heavy, #f6f6f6);
  }

  .icon {
    display: inline-block;
    line-height: inherit;
    transition: all 300ms;
    margin-right: 8px;
    color: var(--bit-text-color-light, #6c707c);
    &.collapsed {
      transform: rotate(-0.25turn);
    }
  }
}

.img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  filter: grayscale(1);
}

.left {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
  }
}
