// card
.compNode {
  max-width: 300px;
  min-width: 200px;
  border-width: 2px;
  border-style: solid;
  padding: 12px;

  text-align: left;

  &.selected {
    background: var(--bit-accent-bg, #eceaff);
  }
  &.error {
    background: var(--bit-error-bg, #fdedd2);
  }
}

// component icon
.componentDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .status {
    text-transform: capitalize;
    font-size: 10px;
    color: var(--bit-accent-color);
  }
}

// breakcrumbs
.breadcrumbs {
  color: #6c707c;
  font-size: 12px;
}

// component name
.componentName {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--bit-text-color-heavy, #2b2b2b);

  > div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 0;

    > span {
      padding-top: 1px;
      margin: 0 4px;
    }
  }
}

.name {
  color: inherit;
  font-weight: bold;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  text-decoration: none;

  &.link {
    pointer-events: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

.version {
  min-width: 40px;
  text-align: center;
}
