.codeTabTree {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.codeTabDrawer {
  > div:first-child {
    border: none;
    box-shadow: var(--shadow-faint);
    z-index: 1;
  }
  > div:last-child {
    border-color: #fafafa;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
  }
}

.drawerIcon {
  margin-right: 8px;
  font-size: 14px;
}
