.schemaNodeSummary {
  padding-bottom: 32px;
}
.schemaNodeSummaryName {
  padding-bottom: 16px;
  font-size: var(--bit-p-sm);
}
.schemaNodeSummarySignature {
  min-height: 40px;
}
.schemaNodeDoc {
  display: flex;
  flex-direction: row;
  font-size: var(--bit-p-xs);
  justify-content: space-between;
  padding-bottom: 16px;
}
.placeholderComment {
  font-style: italic;
  color: var(--bit-text-color-light, #707279);
}
.docComment {
  display: flex;
  align-self: center;
}

.docTags {
  display: flex;
  justify-self: flex-end;
}

.editor {
  padding-top: 10px;
  background-color: var(--editor-bg-color, #1e1e1e);
  height: 100%;
  width: 100%;
}

.tag {
  display: flex;
  justify-self: flex-end;
  background: var(--bit-accent-bg, #eceaff);
  color: var(--bit-accent-color);
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--bit-p-xxs);
  height: fit-content;
}

.codeEditorContainer {
  > section {
    overflow: hidden;
    border-radius: 8px;
  }
}
