@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';
$topbarHeight: 56px;

.topbar {
  display: flex;
  align-items: center;

  height: $topbarHeight;
  background: #ededed;
  box-sizing: border-box;
  font-size: var(--p-xs, 14px);
  z-index: $nav-z-index;
}
