@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';
$topbarHeight: 56px;

.topbar {
  display: flex;
  align-items: center;

  height: $topbarHeight;
  background: var(--bit-bg-heaviest, #ededed);
  box-sizing: border-box;
  font-size: var(--bit-p-xs, 14px);
  // top bar needs to be with higher zindex in order for the menu to go over collapser button and splitter
  z-index: $topBar-zIndex;
}
