.background {
    background: var(--bg-dent);
    padding: 24px 14px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    display: flex;
    overflow-x: auto;
}

.singleCompositionBox {
    padding: 10px;
    background-color: var(--bg-base);
    border-radius: 5px;
    width: fit-content;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}