.laneComparePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.top {
  display: flex;
  padding: 24px;
  padding-bottom: 8px;
  align-items: center;
  width: 60%;

  > div {
    display: flex;
  }
}

.bottom {
  display: flex;
  overflow: scroll;
}

.compareLane {
  padding: 8px;
  background: var(--surface-neutral-focus-color);
  border-radius: 6px;
  margin: 0px 4px;
  width: fit-content;
  // same height as the lane selector
  height: 34px;
  box-sizing: border-box;
  font-size: var(--bit-p-xs, 14px);
  align-items: center;
}

.baseSelectorContainer {
  padding: 0px 4px;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  > div:first-of-type {
    width: 100%;
  }
}

.laneIcon {
  padding-right: 4px;
  height: 16px;
  font-size: var(--bit-p-sm, 16px);
}
