$panelBg: #fafafa;

.container {
  display: flex;

  & > :not(:last-child) {
    border-right: 1px solid var(--border-color); // #e4e6ea
  }
}

.panel {
  position: relative;
  background: $panelBg;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-left: 1px solid var(--border-color);
}
