.container {
  padding: 80px 5% 150px 5%;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.limitLength {
  max-width: 70%;
}

.previewPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #c7c7c7;
  pointer-events: auto;
  > span {
    font-size: 33px;
    margin-bottom: 15px;
  }
  > div {
    font-size: 13px;
  }
}

.tooltip {
  max-width: 155px;
  text-align: center;
}
