.notificationIcon {
  font-weight: bold;
  text-align: center;

  color: var(--bit-accent-color, #6c5ce7);

  &:before {
    // color for transparent content
    background: radial-gradient(circle at center, white 0%, white 50%, transparent 51%);
  }
}
