.schemaNodeIndexContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-width: 25%;
  height: 100%;
}

.groupName {
  display: flex;
  font-weight: 500;
  padding-bottom: 8px;
  font-size: var(--bit-p-sm);
  text-transform: capitalize;
}

.groupedNodesContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  width: 100%;
  flex-wrap: wrap;
}

.group {
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.paddingTop {
  padding-top: 16px;
}
.groupedNode {
  display: flex;
  padding-bottom: 8px;
  font-size: var(--bit-p-xs);
  padding-left: 16px;
}

.noGroup {
  padding-left: 0;
}

.groupedNodeName {
  border-radius: 4px;
  text-transform: capitalize;
}

.title {
  padding: 0px 8px 8px 0px;
  font-weight: 500;
  font-size: var(--bit-p-md);
  text-transform: uppercase;
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
}
