.componentCompareCodeViewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--on-surface-neutral-low-color, #282828) !important;
}

.componentCompareCodeDiffEditorContainer {
  display: flex;
  flex: 1;
  height: 100%;

  > section {
    overflow: hidden;
  }
}

.loader {
  width: calc(100% - 48px);
  padding: 16px 24px;
  color: var(--on-surface-neutral-low-color, #282828);
  background-image: linear-gradient(to right, currentColor 0%, #2b2b2b 30%, #2b2b2b 50%, currentColor 100%);
  > div {
    background-image: linear-gradient(to right, currentColor 0%, #2b2b2b 30%, #2b2b2b 50%, currentColor 100%);
  }
}
