.componentCompareCodeViewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.componentCompareCodeDiffEditorContainer {
  display: flex;
  flex: 1;
  height: 100%;
  // padding: 8px 16px 0px 16px;

  > section {
    overflow: hidden;
    // border-radius: 8px;
  }
}

.fileName {
  display: flex;
  align-items: baseline;
  padding: 8px;
}

.ignoreWhitespaceControlContainer {
  color: var(--bit-text-color, #414141);
  width: fit-content;
  padding: 0px 8px;
  height: 24px;
  display: flex;
}

.toggleContainer {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 8px;

  .toggle {
    position: relative;
    margin-right: 8px;
  }
}

.loader {
  height: 100%;
  width: 100%;
  padding: 16px 24px;
  color: var(--bit-bg-dent, #f6f6f6);
}

.compareNavItem {
  color: #fff !important;
  border-right: 0.5px solid var(--on-surface-neutral-high-color, #2b2b2b);

  &.first {
    border-left: 0.5px solid var(--on-surface-neutral-high-color, #2b2b2b);
  }

  &:hover:not(.activeNav) {
    background-color: var(--on-surface-neutral-high-color, #2b2b2b) !important;
    > div {
      background-color: var(--on-surface-neutral-high-color, #2b2b2b) !important;
    }
  }
}

.activeNav {
  background-color: var(--on-surface-neutral-high-color, #2b2b2b);
  &::after {
    background-color: var(--on-surface-neutral-high-color, #2b2b2b) !important;
  }
}

.compareNav {
  // @todo get token for this color
  background-color: #414141;
  gap: 0px !important;
}

.compareSecondaryNav {
  // @todo get token for this color
  background: #414141 !important;
}

.codeCompareTab {
  display: flex;
  align-items: center;
  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px; // to align to sibling with icon
    margin-right: 8px;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}
