/**
  * Monaco container is not flex so providing it a fixed calculated height
  * so it can fill up the remaining space correctly instead of overflowing
  * editor header: h4 (48px) + padding (16px) + 
  * ignoreWhitespace (24px) + 
  * editor padding (8px)= 96px
  */
$editor-padding: 96px;

.componentCompareCodeViewContainer {
  width: 100%;
  height: 100%;
}
.componentCompareCodeDiffEditorContainer {
  height: calc(100% - $editor-padding);
  padding: 8px 16px 0px 16px;

  > section {
    overflow: hidden;
    border-radius: 8px;
  }
}

.fileName {
  display: flex;
  align-items: baseline;
  padding: 8px;
}

.ignoreWhitespaceControlContainer {
  color: var(--bit-text-color, #414141);
  width: fit-content;
  padding: 0px 8px;
  height: 24px;
}

.toggleContainer {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 8px;

  .toggle {
    margin-right: 8px;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
