.aspectBox {
  border: 1px solid var(--bit-border-color, #babec9);
  border-radius: 9px;
  padding: 16px;
  display: grid;
}
.titleLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.titleLeft {
  display: flex;
  align-items: center;
}
.iconWrapper {
  border-radius: 50%;
  border: 1px solid #ededed;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  .icon {
    width: 12px;
    filter: brightness(0%);
  }
}
.name {
  font-size: 20px;
}
.aspectLink {
  cursor: pointer;
  color: var(--bit-text-color-light, #6c707c);
}
.sectionTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expandCollapse {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  img {
    border-radius: 8px;
    width: 16px;
    &:hover {
      background-color: var(--bit-border-color-lightest, #ededed);
    }
  }
}
.copyMessage {
  position: unset;
  transform: unset;
  display: flex;
}

.toolbar {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
}
.copyIcon {
  display: flex;
  font-size: var(--bit-p-xs);
}
.copyButton {
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background-color: var(--bit-bg-color-highlight);
  color: var(--bit-accent-color);
  outline: none;
}
.sectionTitle {
  display: flex;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: var(--bit-p-xs);
}
.log {
  overflow: hidden;
  background: #282c34;
  border-radius: 6px;
  word-break: break-all;

  &.config {
    margin-bottom: 24px;
  }
  > div {
    overflow-x: auto;
    padding: 16px;
  }
}
