.emptyWorkspace {
  padding: 8px 8px 0 28px;
  display: block;
}

.collapseIcon {
  width: 16px;
}

.deprecateFilter {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  padding: 8px;
  margin: 4px 8px;

  .filterIcon {
    font-size: 12px;
    > span {
      margin-right: 8px;
    }
  }
}

.filterWidgetIcon {
  margin-right: 12px;
  padding: 4px;

  &:hover {
    background: white;
  }

  &.open {
    color: var(--bit-accent-color, #6c5ce7);
    background-color: var(--bit-bg-heavy, #f6f6f6);
  }
}
