.simple {
  cursor: pointer;
  border: 1px solid var(--bit-border-color, #babec9);
  border-radius: 6px;
  transition: background-color 300ms ease-in-out;
  height: 30px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  user-select: none;

  > div {
    margin-right: 5px;
  }
  &:hover {
    background-color: var(--bit-bg-heavy);
  }

  > div {
    max-width: 80px;
  }
  &.disabled {
    cursor: default;
    background-color: #ededed;
    > span {
      display: none;
    }
  }
  .versionName {
    padding: 0px 8px;
    &.tag {
      min-width: fit-content;
    }
    &.snap {
      min-width: 20%;
    }
  }
}

.detailed {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  height: 30px;
  border-radius: 6px;
  user-select: none;
  transition: background-color 300ms ease-in-out;
  border: 1px solid var(--bit-border-color, #babec9);

  cursor: pointer;
  > div {
    margin-right: 5px;
  }
  &:hover {
    background-color: var(--bit-bg-heavy);
  }
  > div {
    max-width: 80px;
  }
  &.disabled {
    cursor: default;
    background-color: #ededed;
    > span {
      display: none;
    }
  }
  .versionName {
    padding: 0px 8px;
    &.tag {
      min-width: fit-content;
    }
    &.snap {
      min-width: 20%;
    }
  }
  .commitMessage,
  .emptyMessage {
    max-width: 50%;
    padding: 0px 8px;
  }
  .emptyMessage {
    font-style: italic;
    color: var(--bit-text-color-light, #6c707c);
  }
  .author {
    text-transform: capitalize;
    min-width: fit-content;
  }
  .versionTimestamp {
    min-width: fit-content;
    margin-right: 2px;
    text-align: right;
  }
  .versionUserAvatar {
    flex: none;
  }
}
