.laneComparePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.top {
  display: flex;
  padding: 24px;
  padding-bottom: 8px;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.subTitle {
  font-size: var(--bit-p-xs, 14px);
  color: var(--on-background-medium-color, #707279);
}

.title {
  // same height as the lane selector
  height: 34px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.rightIcon {
  display: flex;
  justify-self: center;

  img {
    height: 12px;
    display: flex;
    align-self: center;
  }
}

.bottom {
  display: flex;
  overflow: auto;
}

.compareLane {
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border-radius: 6px;
  box-sizing: border-box;
  align-items: center;
}

.baseSelectorContainer {
  padding: 0px 4px;
}

.laneIcon {
  padding-right: 4px;
  height: 16px;
  font-size: var(--bit-p-sm, 16px);
}
