.commandBarOption {
  padding: 8px;
  transition: all 180ms;

  &:hover {
    background-color: #f6f6f6;
  }

  &.active,
  &.active:hover {
    background-color: var(--muted-color);
  }
}

.commandKeys {
  float: right;
  font-size: 0.76em;
}

.commandDescription {
  font-size: 0.85em;
}
