.mdxLinkedHeading {
  margin-top: 40px;
  width: 100%;

  &.mainHeadingStyles {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
  }

  &:first-child {
    padding-top: 0;
  }
}
