@import '~@teambit/ui-foundation.ui.constants.z-indexes/z-indexes.module.scss';

.container {
  font-size: 12px;
}

.label {
  font-family: sans-serif;
  padding: 8px;
}

.frame,
.label {
  z-index: $highlighter-z-index;
}
